@charset "UTF-8";

@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Thin"),
       local("Noto Sans KR Thin"),
       url(../font/NotoSansKR-Thin-Hestia.eot) format('embedded-opentype'),
       url(../font/NotoSansKR-Thin-Hestia.woff) format('woff'),
       url(../font/NotoSansKR-Thin-Hestia.otf) format('opentype');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Light"),
       local("Noto Sans KR Light"),
       url(../font/NotoSansKR-Light-Hestia.eot) format('embedded-opentype'),
       url(../font/NotoSansKR-Light-Hestia.woff) format('woff'),
       url(../font/NotoSansKR-Light-Hestia.otf) format('opentype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Regular"),
       local("Noto Sans KR Regular"),
       url(../font/NotoSansKR-Regular-Hestia.eot) format('embedded-opentype'),
       url(../font/NotoSansKR-Regular-Hestia.woff) format('woff'),
       url(../font/NotoSansKR-Regular-Hestia.otf) format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Medium"),
       local("Noto Sans KR Regular"),
       url(../font/NotoSansKR-Medium-Hestia.eot) format('embedded-opentype'),
       url(../font/NotoSansKR-Medium-Hestia.woff) format('woff'),
       url(../font/NotoSansKR-Medium-Hestia.otf) format('opentype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Bold"),
       local("Noto Sans KR Medium"),
       url(../font/NotoSansKR-Bold-Hestia.eot) format('embedded-opentype'),
       url(../font/NotoSansKR-Bold-Hestia.woff) format('woff'),
       url(../font/NotoSansKR-Bold-Hestia.otf) format('opentype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Black"),
       local("Noto Sans KR Medium"),
       url(../font/NotoSansKR-black.eot) format('embedded-opentype'),
       url(../font/NotoSansKR-black.woff) format('woff'),
       url(../font/NotoSansKR-black.otf) format('opentype');
  font-style: normal;
  font-weight: 800;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: top;
  font-family: "Noto Sans Korean", sans-serif;
  -webkit-text-size-adjust: none;
  /* text-decoration: none !important; */
  outline: none !important;
}
img, fieldset {
  border: 0;
}
a {
  text-decoration: none;
}
/* a:hover,
a:focus {
  text-decoration: underline;
} */
ul,
ol,
li {
  list-style-type: none;
}
input,
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  border-radius: 0;
  font-weight: 300;
}
select::-ms-expand {
  display: none;
}
address {font-style: normal;}
button,input{overflow:visible;}
button,select{text-transform:none;}
[type="checkbox"],[type="radio"]{box-sizing:border-box;}
/* [type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;} */
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{-webkit-appearance: none;-moz-appearance: textfield;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
table{width:100%; border-collapse:collapse; border-spacing:0; word-break: break-all;}

html {color: #000; font-size: 14px; font-weight: 300; line-height: 1; scroll-behavior: smooth;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
a {color: inherit; cursor: pointer;}
button {background-color: transparent; border: 0; font-size: inherit; cursor: pointer;}
strong {font-weight: 300;}

.hidden { display: none !important; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); -webkit-clip-path: inset(50%); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; white-space: nowrap; /* 1 */ }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; -webkit-clip-path: none; clip-path: none; height: auto; margin: 0; overflow: visible; position: static; width: auto; white-space: inherit; }

.clearfix:before { content: " "; display: table; }
.clearfix:after { content: " "; display: table; clear: both; }

.left {float: left;}
.right {float: right;}

.t-left {text-align: left;}
.t-center {text-align: center;}
.t-right {text-align: right;}

.t-primary {color: #d30262;}
.t-skyblue {color: #0b8eca;}
.t-red {color: #f00;}

.ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.countries-input {line-height:51px;box-sizing:border-box;width:100%!important;height:51px!important;padding:0 15px;border:1px solid #d0d0d0;border-radius:4px}

/* en, jp, vn, cn */