@charset "UTF-8";

.main-title {padding-top: 96px; font-size: 32px; font-weight: 500; color: #222; text-align: center; letter-spacing: -1px;}
.main-subtitle {position: relative; margin-top: 57px; padding-top: 41px; font-size: 24px; text-align: center; color: #222; font-weight: 500; letter-spacing: -1px;}
.main-subtitle:after {content: ''; position: absolute; top: 0; left: 50%; margin-left: -22px; display: inline-block; width: 44px; height: 4px; background-color: #b22b89; border-radius: 2px;}
.main-subtitle.skyblue:after {background-color: #70bee7;}
.main-desc {margin-top: 50px; padding-left: 220px; padding-right: 220px; font-size: 16px; color: #424242; line-height: 2; font-weight: 400; text-align: center;}

.button-top-wrapper {position: relative; }
.button-top {position: fixed; bottom: 20px; right: 100px; display: block; width: 62px; height: 62px; border-radius: 50%; background: url(../img/button-top.png) no-repeat 0 0; z-index:10; }
.button-top:hover {background-position-x: -72px;}
.button-top-fixed .button-top {position: fixed;}

.quickSns	{position: fixed; bottom: 92px; right: 100px; display: block; width: 62px; z-index:10; }
.quickSns ul li		{ padding:0 0 10px; }

/* HOME */
.main-home {position: relative; height: 812px;}
.main-home-bg {z-index: -1; position: absolute; top: 0; left: 0; width: 100%; height: 812px; text-align: center; background-color: #5d1d3e;}
.main-home-bg img {width: 100%; height: 812px; object-fit: cover;}
.main-home-bg .slick-slide img {display: inline-block;}
.main-home-contents {overflow: hidden; text-align: center;}
.main-home-contents .title {margin-top: 99px;}
.main-home-contents .desc {margin-top: 34px;}
.main-home-contents .desc2 {margin-top: 48px; min-height: 105px; font-size: 19px; color: #fff; line-height: 1.85;}
.main-home-contents .scroll-down {margin-top: 82px;}

.button-buy-ico {display: inline-block; margin-top: 66px; width: 360px; height: 70px; line-height: 68px; border: 1px solid #fff; border-radius: 35px; font-size: 32px; color: #fff; position:relative; transition:0.4s ease-in-out; }
.button-buy-ico:hover,
.button-buy-ico:focus {box-shadow:0 0 18px #fff; background-color: #fff; color: #e4086d; transition:0.4s ease-in-out; }
/*
.button-buy-ico span			{ position:absolute; top:-1px; left:-1px; display:none; width: 360px; height: 70px; line-height: 68px; border: 1px solid #fff; border-radius: 35px; font-size: 32px; color: #e4086d; background-color: #fff; }
.button-buy-ico:hover:after,
.button-buy-ico:focus:after		{ display:block; }
.button-buy-ico:hover,
.button-buy-ico:focus {background-color: #fff; color: #e4086d;}
*/

/* DOCUMENTS */
/* .main-doc {height: 764px; background-color: #f5f8fb; text-align: center;} */
.main-doc {background-color: #f5f8fb; text-align: center;}
.main-doc .docs {display: inline-block;}
.doc-item {display: inline-block; margin-top: 60px; margin-left: 68px; margin-right: 68px; width: 170px;}
.doc-item-image {overflow: hidden; padding: 2px; display: block; border-radius: 2px; background-color: #fff; box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.3);}
.doc-item-name {margin-top: 40px; text-transform: uppercase;}

.doc-item-button {box-sizing: border-box; display: inline-block; margin-top: 18px; padding-left: 45px; width: 122px; height: 40px; line-height: 39px; border-radius: 20px; font-size: 12px; color: #fff; background: #e4086d url(../img/icon-download.png) no-repeat 16px 11px; text-align: left;}
.doc-item-button.orange {background-color: #ff6c00;}
.doc-item-button.purple {background-color: #af3da5;}
.doc-item-button.skyblue {background-color: #70bee7;}

.doc-item-button:hover, .doc-item-button:focus {background-color: #cf005f;}
.doc-item-button.orange:hover, .doc-item-button.orange:focus {background-color: #f93d00;}
.doc-item-button.purple:hover, .doc-item-button.purple:focus {background-color: #9026a7;}
.doc-item-button.skyblue:hover, .doc-item-button.skyblue:focus {background-color: #468ed1;}

.main-doc-tab {margin-top: 60px; padding: 0 100px;}
.main-doc-tab .tab2-list > li {width: 20%;}

/* ABOUT SILK ROAD */
/* .main-about {padding-bottom: 99px; border-top: 1px solid #d0d0d0; background: #dee1e4 url(../img/bg-wave-short.png) no-repeat 50% 50%; background-size: cover; text-align: center;} */
.main-about {padding-bottom: 99px; border-top: 1px solid #d0d0d0; background: #f5f8fb url(../img/bg-wave.png) no-repeat 50% 0; background-size: 100% 105%; text-align: center;}
.main-about-platform {margin-top: 53px; padding-bottom: 46px;}
.main-about-services {margin-top: 53px; padding-bottom: 62px;}

.service-benefit {display: inline-block; margin-top: 59px;}
.benefit-item {box-sizing: border-box; float: left; margin-left: 10px; margin-right: 10px; padding: 232px 50px 50px; width:330px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); border-radius: 12px; background-color: #fff; color: #222; background-position: 50% 40px; background-repeat: no-repeat;}
.benefit-item-title {margin-top: 28px; height: 45px; font-size: 18px; line-height: 1.25;}
.benefit-item-title strong {display: block; font-weight: 500;}
.benefit-item-desc {margin-top: 16px; font-size: 16px; line-height: 1.6; text-align: left;}
.benefit-item-desc li {margin-top: 10px; padding-left: 26px;}
.benefit-item-desc li span {display: inline-block; text-indent: -26px;}
.benefit-item-desc li:first-child {margin-top: 0px;}

.benefit-item.customer {background-image: url(../img/bg-benefit1.png);}
.benefit-item.investor {background-image: url(../img/bg-benefit2.png);}
.benefit-item.buyer {background-image: url(../img/bg-benefit3.png);}

.investor .benefit-item-title,
.buyer .benefit-item-title {box-sizing: border-box; padding-top: 12px;}


/* ROADMAP */
.main-roadmap {position: relative; height: 1633px; border-top: 1px solid #d0d0d0;}
.main-roadmap-bg {z-index: 1; position: absolute; top: -24px; left: 0; width: 100%; height: 1583px; background: url(../img/bg-roadmap.png) 42% 0 no-repeat;}
.main-roadmap .wrapper {position: relative; z-index: 2;}
.timeline {position: relative; margin: 58px auto 0; width: 1032px; height:1183px; background: url(../img/bg-timeline.png) no-repeat 508px 0;}

.timeline-event {overflow: hidden; position: absolute;}
.timeline-event-time {float: left; width: 147px; font-size: 16px; font-weight: 500;}
.timeline-event-desc {float: left; width: 320px; font-weight: 400; line-height: 1.6;}
.timeline-event-desc span {font-weight: 300;}
.timeline-event-desc > li {position: relative; margin-top: 10px; padding-left: 11px;}
.timeline-event-desc > li:first-child {margin-top: 0;}
.timeline-event-desc > li:before {content: ''; position: absolute; top: 4px; left: 0; display: inline-block; margin-top: 5px; width: 3px; height: 3px; background-color: #222; vertical-align: top;}

.when201807 {left: 553px; color: #a57edd;}
.when201808 {top: 168px; color: #b75fc9;}
.when201809 {left: 553px;top: 341px; color: #b243ac;}
.when201811 {top: 519px; color: #b54ab4;}
.when201812 {left: 553px;top: 692px; color: #b66bd1;}
.when201905 {top: 930px; color: #7bb2e4;}
.when2020 {left: 553px; top: 1167px; color: #70bee7;}

.when201808 .timeline-event-time,
.when201808 .timeline-event-desc,
.when201811 .timeline-event-time,
.when201811 .timeline-event-desc,
.when201905 .timeline-event-time,
.when201905 .timeline-event-desc {float: right;}

.when201808 .timeline-event-time,
.when201811 .timeline-event-time,
.when201905 .timeline-event-time {text-align: right;}

/* TEAM */
.main-team {padding-bottom: 100px; background-color: #fff;}
.main-team-list {overflow: hidden; margin-top: 20px;}
.main-team-list > li {float: left;}
.main-team-list > li:nth-child(4n+1) {clear: both;}
.main-team-list + .main-subtitle {margin-top: 120px;}
.profile { margin: 40px 26px 0; width: 244px; text-align: center;}
.profile-picture {overflow: hidden; width: 240px; height: 240px; border-radius: 50%; background-color: #f5f8fb; border: 2px solid #70bee7;}
.profile-picture > img {width: 100%; height: 100%;}
.profile-name {display: block; margin-top: 30px; font-size: 16px; font-weight: 500; letter-spacing: -1px;}
/* .profile-name .last-name {margin-left: 17px;} */
.profile-position {display: block; margin-top: 13px; color: #848484; text-transform: uppercase;}
.profile-story {display: none; margin-top: 20px; color: #848484; line-height: 1.6; text-align: left;}

.profile-more-button {margin-top: 20px; padding-left: 20px; padding-right: 20px; height: 30px; border: 1px solid #b4b4b4; border-radius: 15px; color: #d31167; font-size: 12px;}
.profile-more-button:hover,
.profile-more-button:focus {border-color: #e4086d;}

/* PARTNER */
.main-partners {padding-bottom: 100px; background-color: #fff;}
.main-partner-list {overflow: hidden; margin-top: 60px;}
.main-partner-list > li {position: relative; float: left; width: 25%; height: 124px;}
.main-partner-list > li > a {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: inline-block;}
/* FAQ */
.main-faq {padding-bottom: 100px; background-color: #fff;}
.main-faq-list {margin-top: 53px;}
.main-faq-list .faq-item:first-child {border-top: 1px solid #d0d0d0;}
.faq-item {border-bottom: 1px solid #d0d0d0;}

.faq-question {font-size: 16px; color: #222;}
.faq-question > a {overflow: hidden; display: block; padding:32px 30px 30px; line-height: 1.4;}
.faq-question > a:after {content: ' '; float: right; margin-top: 7px; display: block; width: 16px; height: 9px; background:url(../img/bg-after.png) no-repeat 0 0;}
.faq-question-order {float: left; display: block; width: 6%; font-weight: 500;}
.faq-question-text {float: left; display: block; width: 90%; font-weight: 400;}
.faq-answer {display: none; padding: 60px 90px; background-color: #f5f8fb; color: #444; line-height: 2; font-weight: 400;}

.faq-question > a:hover .faq-question-text {color: #d31167; text-decoration: underline;}
.faq-question > a:hover::after {background-position-x: -26px; }

.faq-item.active .faq-answer {display: block; transition: all 1s;}
.faq-item.active .faq-question-text {color: #d31167;}
.faq-item.active .faq-question > a:after {background-image: url(../img/bg-previous.png);}

.faq-more-button {margin-top: 60px;}

/* GOOGLE PLAY */
.button-google-play {overflow: hidden; display: inline-block; width: 216px; height: 48px; background: url(../img/button-google-play.png) no-repeat 0 0;}
.button-google-play:hover {background-position-y: -58px;}

.main-banner {padding-bottom: 100px; border-top: 1px solid #d0d0d0; background: #f5f8fb url(../img/bg-wave.png) no-repeat 0 0; background-size: cover;}
.main-banner-visual {margin-top: 58px; margin-bottom: 40px; text-align: center;}

/* Media */
.main-media {clear: both; padding-top: 63px; padding-bottom: 100px;}

.media-list {margin-top: 60px;}
.media-list > li {display: inline-block; margin: 0 7px; width: 160px;}

.media-item-image {position: relative; display: inline-block; border: 2px solid #fff; box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);}
.media-item-image:before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
.media-item-image:after {content: ''; overflow: hidden; position: absolute; top: 50%; left: 50%; display: block; margin-top: -10px; margin-left: -12px; width: 19px; height: 24px; background: url(../img/button-media-play.png) no-repeat 0 0;}
.media-item-title {margin-top: 35px; color: #424242; line-height: 20px; text-align: center; word-break: break-all;}

.media-item:hover .media-item-image {border-color: #e4086d;}
.media-item:hover .media-item-image:after {background-position-y: -34px;}






/* ================================    ENGLISH     ====================================== */
.lang_en .benefit-item-desc {font-size: 14px;}
.lang_en .main-home-contents .desc2 {padding-left: 140px; padding-right: 140px;}

/* ================================    JAPANESE     ====================================== */
.lang_jp .timeline-event-time {font-weight: 700;}

/* ================================    CHINESE     ====================================== */
.lang_cn .doc-item-button {padding-left: 0; text-align: center;}
.lang_cn .main-desc {padding-left: 200px; padding-right: 200px;}






/* sales */
.page-sales								{ width:100%; min-height:500px; background:url(../img/salesBg1.png) 0 0 repeat-x #fff; }
.header-fixed .page-sales				{ background:url(../img/salesBg1.png) 0 148px repeat-x #fff; }
.page-sales .salesTopMoney					{ min-height:1335px; background:url(../img/salesVisualBg.png) 50% 0 no-repeat; }
.page-sales .salesTopMoney .inner			{ width:872px; margin:0 auto; padding:0 0 290px; position:relative; }
.page-sales .salesTopMoney .inner:after		{ position:absolute; bottom:96px; left:50%; width:1px; height:94px; content:''; background:#fff; }
.page-sales .salesTopMoney .inner .tit				{ font-size:32px; color:#fff; text-align:center; padding:70px 0 50px; }
.page-sales .salesTopMoney .inner .time				{ text-align:center; }
.page-sales .salesTopMoney .inner .time p			{ display:inline-block; padding:0 0 0 90px; }
.page-sales .salesTopMoney .inner .time .day		{ padding:0; }
.page-sales .salesTopMoney .inner .time strong		{ font-size:120px; font-weight:bold; color:#fff; display:block; text-align:center; }
.page-sales .salesTopMoney .inner .time span		{ font-size:16px; padding:20px 0 0; color:#fff; display:block; font-weight:300; }
.page-sales .salesTopMoney .inner .txt1		{ font-size:16px; color:#fff; padding:55px 0 35px; text-align:center; font-weight:300; }
.page-sales .salesTopMoney .inner .percent	{ background:#fff; height:68px; padding:2px; position:relative; }
.page-sales .salesTopMoney .inner .percent:after	{ position:absolute; bottom:-5px; left:50%; content:''; width:10px; height:5px; margin-left:-5px; background:url(../img/percentArr.png) 0 0 no-repeat; }
.page-sales .salesTopMoney .inner .percent span		{ line-height:68px; font-size:24px; font-weight:500; display:block; color:#fff; text-align:center; min-width:10%;
	background: rgb(191,45,147); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(191,45,147,1) 0%, rgba(228,8,109,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(191,45,147,1) 0%,rgba(228,8,109,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(191,45,147,1) 0%,rgba(228,8,109,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2d93', endColorstr='#e4086d',GradientType=1 ); /* IE6-9 */
}
.page-sales .salesTopMoney .inner .tokenArea		{ width:100%; display:inline-block; position:relative; text-align:center; margin:20px 0 15px; }
.page-sales .salesTopMoney .inner .tokenArea .total				{ position:absolute; top:0; left:0; color:#fff; opacity:0.5; font-size:16px; height:32px; line-height:32px; }
.page-sales .salesTopMoney .inner .tokenArea .sold				{ height:32px; line-height:32px; font-size:16px; color:#fff; }
.page-sales .salesTopMoney .inner .tokenArea .sold strong		{ color:#fff; font-size:32px; font-weight:400; line-height:32px; padding:0 8px; }
.page-sales .salesTopMoney .inner .tokenArea .sold span			{ line-height:32px; font-size:16px; color:#fff; opacity:0.5; }
.page-sales .salesTopMoney .inner .tokenArea .left				{ position:absolute; top:0; right:0; color:#fff; opacity:0.5; font-size:16px; height:32px; line-height:32px; }
.page-sales .salesTopMoney .inner .txt2		{ font-size:14px; color:#fff; opacity:0.5; padding:15px 0 55px; text-align:center; border-top:1px solid #8e8b97; line-height:24px; }
.page-sales .salesTopMoney .inner>a			{ width:360px; height:72px; background:#e4086c; font-size:32px; color:#fff; text-align:center; line-height:72px; display:block; margin:0 auto; border-radius:40px; transition:0.4s ease-in-out; }
.page-sales .salesTopMoney .inner>a:hover,
.page-sales .salesTopMoney .inner>a:focus	{box-shadow:0 0 18px #fff; background-color:#fff; color:#e4086d; transition:0.4s ease-in-out; }

.page-sales .salesTopMoney .supply			{ text-align:center; }
.page-sales .salesTopMoney .supply span		{ font-size:32px; color:#222; font-weight:600; display:block; padding:0 0 36px; }
.page-sales .salesTopMoney .supply strong	{ font-size:72px; color:#af2d8b; font-weight:600; display:block; padding:0 0 40px; letter-spacing:-3px; }

.page-sales .salesTopMoney .salesNum		{ padding:40px 0 80px; width:872px; overflow:hidden; margin:0 auto; }
.page-sales .salesTopMoney .salesNum>div	{ width:436px; float:left; text-align:center; }
.page-sales .salesTopMoney .salesNum>div>strong			{ display:block; padding:30px 0; font-size:24px; font-weight:500; }
.page-sales .salesTopMoney .salesNum>div.sales1>strong	{ color:#af2d8b; }
.page-sales .salesTopMoney .salesNum>div.sales2>strong	{ color:#e10b70; }
.page-sales .salesTopMoney .salesNum>div>p				{ padding:0 0 15px 35px; text-align:left; }
.page-sales .salesTopMoney .salesNum>div>p span			{ font-size:14px; width:65px; display:inline-block; line-height:22px; font-weight:400; }
.page-sales .salesTopMoney .salesNum>div>p strong		{ font-size:20px; font-weight:600; line-height:22px; }
.page-sales .salesTopMoney .salesNum>div>p strong em	{ font-style:normal; font-weight:normal; }
.page-sales .salesTopMoney .salesNum>div.sales1>p span,
.page-sales .salesTopMoney .salesNum>div.sales1>p strong,
.page-sales .salesTopMoney .salesNum>div.sales1>p strong em		{ color:#af2d8b; }
.page-sales .salesTopMoney .salesNum>div.sales2>p span,
.page-sales .salesTopMoney .salesNum>div.sales2>p strong,
.page-sales .salesTopMoney .salesNum>div.sales2>p strong em		{ color:#e10b70; }

.page-sales .salesTopMoney .salesNum>div.sales1>p strong em,
.page-sales .salesTopMoney .salesNum>div.sales2>p strong em     { letter-spacing: -1px; }

.page-sales .salesTopMoney .salesTb			{ width:872px; margin:0 auto; }
.page-sales .salesTopMoney .salesTb th		{ padding:0 0 0 45px; width:195px; text-align:left; font-size:16px; color:#222; font-weight:400; vertical-align:middle; }
.page-sales .salesTopMoney .salesTb td		{ padding:20px 0; line-height:36px; font-size:20px; color:#222; font-weight:600; }
.page-sales .salesTopMoney .salesTb td span		{ font-weight:400; }
.page-sales .salesTopMoney .salesTbTxt		{ text-align:center; font-size:14px; color:#848484; padding:30px 0 0; }
.page-sales .salesTopMoney .salesGraphImg	{ text-align:center; padding:126px 0; }

.forPc                          {display: block;}
.forMobile                      {display: none;}

/* 상단배너 추가 */
.banner-presale {background: url(../img/bg-banner-presale.jpg) no-repeat 50% 50%; background-size: cover;}
.top-banner {background-color: #e3096f;}
.top-banner .wrapper {position: relative;}
.top-banner-close {position: absolute; top: 50%; right: 0; margin-top: -16px;}

.top-banner-content {margin: 0 auto; width: 492px; height: 227px; color: #fff; text-align: center;}
.banner-presale-title {padding-top: 10px; font-size: 24px; font-weight: 400; line-height: 2;}
.banner-presale-info {line-height: 1.3; font-weight: 400;}

.banner-presale-progress {box-sizing: border-box; margin: 20px 0 13px; padding: 1px; height: 8px; background-color: #fff;}
.banner-presale-progress .inner {height: 6px; width: 100%; font-size: 12px; background-color: #c0227b;}

.banner-presale-number .sold {opacity: 0.5; vertical-align: middle;}
.banner-presale-number .slk {opacity: 0.5; vertical-align: middle;}
.banner-presale-number .value {margin: 0 40px; font-size: 24px; font-weight: 500;  vertical-align: middle;}

.banner-presale-button {display: inline-block; margin-top: 22px; width: 220px; height: 38px; line-height: 37px; border: 1px solid #fff; border-radius: 40px; text-align: center; font-size: 16px;}

.banner-home-content {height: 70px; color: #fff; font-size: 24px; text-align: center; line-height: 70px;}
.banner-home-content > a:before {content: ''; display: inline-block; margin-right: 13px; width: 23px; height: 24px; background: url(../img/icon-home.png) no-repeat; vertical-align: -1px;}

/* layer */
.noticeLayer			            {position:fixed;top:50%;left:50%;width:430px;/* height:600px; */background:#f5f8fb;border-radius: 5px;z-index:10001;margin:-302px 0 0 -217px;/* border:2px solid #ccc; */box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);}
.noticeLayer .logo		            {text-align:center;padding: 40px 0 10px;}
.noticeLayer .nlArea	            {margin:20px;padding: 0 15px 15px;width:360px;/* height:438px; */background:#fff;}
.noticeLayer .nlArea .tit			{padding:15px 0;text-align:center;font-size:26px;color:#222;font-weight:500;line-height: 1.2;}
.noticeLayer .nlArea .layerCont		{border:1px solid #ccc;width:318px;height: 230px;padding:20px;font-size:14px;color:#666;overflow:auto;line-height:20px;}
.noticeLayer .nlArea .more			{ height:56px; line-height:55px;background-color:#d30262; border:1px solid #d30262; border-radius:3px; color:#fff; font-weight:300; font-size:16px; display:block; text-align:center; margin-top:16px; }
.noticeLayer .close		            {display:inline-block;padding:3px 11px 4px;border:1px solid #b4b4b4;border-radius:12px;color:#e4086d;vertical-align:middle;position:absolute;top:10px;right:10px;font-size: 12px;}

/* 메인 > press room 리스트 추가 */
.main-press                { padding-bottom: 100px; background-color: #fff; }
.press-list                { margin: 60px 100px 0; border-top: 1px solid #d0d0d0; }
.press-list > li           { display: table; table-layout: fixed; width: 100%; }
.press-item                { overflow: hidden; display: table-row; padding: 32px 30px 30px; line-height: 1.4; font-size: 16px; }
.press-item-title,
.press-item-time           { display: table-cell; padding: 32px 30px 30px; border-bottom: 1px solid #d0d0d0; }
.press-item-title          { width: 80%; text-align: left; font-weight: 400; }
.press-item-time           { width: 20%; text-align: right; color: #848484; }
.press-item-b              { margin-right: 7px; font-weight: 500; }