@charset "UTF-8";

.header-login .wrapper,
.container-login .wrapper,
.footer-login .wrapper {box-sizing: border-box; width: 430px;}

.header-login {border-top: 1px solid #d30262; text-align: center}
.header-login .wrapper {position: relative; padding: 13px 0 60px;}
.header-login .header-language {position: absolute; top: 32px; right: -165px; left: initial;}
.container-login .wrapper {background-color: #fff;}
.container-login .section {padding-left: 45px; padding-right: 45px; padding-bottom: 45px;}
.footer-login .copyright {margin-top: 60px; color: #828282; text-align: center;}

/* 로그인 */
.container-login .title {padding: 45px 0; font-size: 28px; font-weight: 400; color: #222; text-align: center;}
.container-login .form-row + .form-row {margin-top: 15px;}
.container-login .button {width: 100%;}
.container-login .button-wrap {margin-top: 25px;}

.additional-link {padding-top: 15px; padding-bottom: 15px; font-size: 16px; text-align: center;}
.additional-link > a {margin-left: 7px; margin-right: 7px; border-bottom: 1px solid #fff;}
.additional-link > a:hover {border-bottom: 1px solid #d30262; color: #d30262;}

/* 비밀번호 재설정 - 이메일 확인 */
.button-back {display: block; padding-left: 45px; height: 79px; line-height: 79px; border-bottom: 1px solid #eee; font-size: 18px; color: #999;}
.button-back .text {padding-left: 20px; background: url(../img/bg_arrow.png) no-repeat 0 50%; font-weight: 400;}

/* 비밀번호 재설정 */
.change-password-login .notice {margin-top: 7px; line-height: 1.3;}

/* 로그인 > 비밀번호 재설정 - 완료, 회원가입 > 이메일 인증 */
.change-password-complete .text {background-image: url(../img/bg-change-pw-done.png);}
.send-sertify-email .text {background-image: url(../img/bg-send-email.png);}
.sertified-email-complete .text {background-image: url(../img/bg-certify-done.png);}

.change-password-complete .text,
.send-sertify-email .text,
.sertified-email-complete .text {padding-top: 150px; line-height: 1.5; text-align: center; background-repeat: no-repeat; background-position: 50% 0;}
.change-password-complete .text > strong,
.send-sertify-email .text > strong,
.sertified-email-complete .text > strong {font-size: 18px; font-weight: 500;}
.change-password-complete .text > span,
.send-sertify-email .text > span,
.sertified-email-complete .text > span {display: inline-block; margin-top: 10px; font-size: 16px;}
.change-password-complete .title,
.send-sertify-email .title,
.sertified-email-complete .title {padding-bottom: 34px;}

.send-sertify-email .notice {margin-top: 14px; font-size:16px; text-align: center;}

/* 회원가입 */
.container-login .field-phone .right {width: 33%;}
.certify-notice {padding: 10px 10px 0; line-height: 1.3;}
.certify-try {margin-top: 18px; text-align: center;}
.suggest-login {margin-top: 15px; font-size: 16px; line-height: 20px; text-align: center;}

.password-field {position: relative;}
.password-check {position: absolute; top: 17px; right: 17px; font-size: 16px; font-weight: 400;}
.password-check span {display: none;}
.password-check .safety {color: #23b900;}
.password-check .normal {color: #fc0;}
.password-check .danger {color: #ff7c00;}
.password-check .reject {color: #f00;}
.safety .safety {display: block;}
.normal .normal {display: block;}
.danger .danger {display: block;}
.reject .reject {display: block;}

/* 회원가입 - 이용약관 */
.container-login .terms .title {padding-bottom: 20px;}
.terms-document {box-sizing: border-box; margin-top: 27px; margin-bottom: 6px; padding: 10px; height: 300px; border: 1px solid #ddd; border-radius: 1px; color: #444; line-height: 1.3;}
.terms-document .inner {overflow-y: scroll; padding: 0 10px; height: 100%; }
.terms-h4 {margin-top: 20px; font-size: 16px; font-weight: 500;}
.terms-h5 {margin-top: 5px; font-weight: 500;}
.terms-h6 {margin-top: 5px; font-weight: 500;}
.terms-text + .terms-list {margin-top: 5px;}

.terms .checkbox {margin-top: 20px;}
.terms-agree-all {font-weight: 500;}
.terms-agree-option {vertical-align: baseline; color: #666;}