@charset "UTF-8";

body.page-press {background-color: #fff;}

/* 공지사항 */
.press-table {margin-top: 60px; color: #848484; }
.press-table-title {display: block; width: 900px; color: #222;}
.press-table tr th:nth-of-type(1),
.press-table tr td:nth-of-type(1) {width: 5%;}
.press-table tr th:nth-of-type(2),
.press-table tr td:nth-of-type(2) {width: 81%;}
.press-table tr th:nth-of-type(3),
.press-table tr td:nth-of-type(3) {width: 14%;}
.press-table + .button-wrap,
.news-item-wrap + .button-wrap {margin-top: 60px;}

.section-title-press {margin-top: 50px; font-size: 32px; font-weight: 500; letter-spacing: -1px;}

.press-tab {margin: 0 auto; margin-top: 60px; width:822px;}

/* 보도자료 */
.news-item-wrap {margin: 40px auto 0; width: 1064px; min-height:1080px; }
.news-item {float: left; margin: 20px 15px; width: 236px; height: 320px;}
.news-item a {display: block;}
.news-item > a:hover .news-item-title,
.news-item > a:focus .news-item-title {color: #bd2f95; text-decoration: underline;}
.news-item-photo {overflow: hidden; width: 236px; height: 236px;}
.news-item-photo > img {width: 100%; height: 100%; object-fit: cover;}
.news-item-title {overflow: hidden; margin-top: 16px; height: 45px; font-size: 16px; color: #222; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.4; text-align:center; }
.news-item-date {margin-top: 9px; color: #848484; display:none;}

.news-item-wrap .no-contents {padding: 50px; border-top: 1px solid #848484; border-bottom: 1px solid #848484; text-align: center;}

/* 상세보기 */
.article {margin-top: 172px;}

.article-header {padding: 30px 30px 28px; border-top: 1px solid #848484; border-bottom: 1px solid #d0d0d0;}
.article-header-title {width: 78%; font-size: 16px; font-weight: 400; color: #222; line-height: 1.2;}
.article-header-date {color: #535353;}
.press .article-header-date	{ display:none; }

.article-body {padding: 50px 80px 75px; color: #000; font-weight: 400; line-height: 1.8;}
.article-body p + p {margin-top: 35px;}
.article-body img {margin-top: 35px; margin-bottom: 35px;}

.paging {border-top: 1px solid #848484; border-bottom: 1px solid #848484; color: #848484;}
.paging-previous,
.paging-after {display: block; padding: 35px 30px 31px;}
.paging-after {border-top: 1px solid #d0d0d0;}

.paging-text,
.paging-title {float: left;}
.paging-date {float: right;}

.paging-text::before {content: ''; display: inline-block; margin-right: 42px; width: 16px; height: 9px; background-repeat: no-repeat; background-position: 0 0;}
.paging-previous .paging-text::before {background-image: url(../img/bg-previous.png);}
.paging-after .paging-text::before {background-image: url(../img/bg-after.png);}

.paging-title {margin-left: 85px; width: 800px; font-size: 16px; color: #222; font-weight: 400; line-height: 1.3;}
.paging a:hover .paging-title,
.paging a:focus .paging-title {color: #E4086D; text-decoration: underline;}
.paging a:hover .paging-text::before,
.paging a:focus .paging-text::before {background-position-x: -26px;}
