*					{ padding:0; margin:0; }
ul,li				{ list-style-type:none; }
.boardTit			{ width:100%; padding:20px 0 0; font-size:20px; color:#e4086c; text-align:center; }
.tab				{ border:1px solid #888; border-left:0; border-right:0; width:calc(100% - 40px); display:inline-block; margin:10px 20px 5px; }
.tab li				{ width:50%; float:left; }
.tab li a			{ display:block; font-size:14px; color:#888; text-decoration:none; height:30px; line-height:30px; }
.tab li a.on		{ position:relative; height:30px; border-top:1px solid #e4086c; border-bottom:1px solid #e4086c; margin:-1px 0; color:#e4086c; font-weight:bold; }

.boardWrap			{ padding:0 20px; margin:15px 0 0; }
table				{ width:100%; border-spacing:0; border-collapse:collapse; display:fixed; }
table th			{ border-top:2px solid #888; border-bottom:1px solid #888; font-size:14px; padding:8px 0; text-align:center; }
table td			{ border-bottom:1px solid #d0d0d0; font-size:12px; padding:6px 10px; text-align:center; color:#888; line-height:100%; }
table td a			{ font-size:12px; color:#333; text-decoration:none; }
.ell				{ text-overflow:ellipsis; white-space:nowrap; word-break:break-word; overflow:hidden; max-width:0; }
.ell2				{ text-overflow:ellipsis; word-break:break-word; overflow:hidden; -webkit-line-clamp:2; -webkit-box-orient:vertical; }
.more				{ width:80px; height:24px; margin:15px auto; background:#e4086c; border-radius:15px; display:block; text-align:center; line-height:24px; color:#fff; font-size:12px; text-decoration:none; }

table.th td:nth-child(1)		{ width:14%; }
table.th td:nth-child(2)		{ width:35%; }
table.th td:nth-child(3)		{ width:26%; }
table.th td:nth-child(4)		{ width:25%; }

table.noti td					{ padding:10px; }
table.noti td:nth-child(1)		{ width:14%; }
table.noti td:nth-child(2)		{ width:66%; }
table.noti td:nth-child(3)		{ width:20%; }

.pressroom							{ width:100%; }
.pressroom .inner a:first-child		{ margin-top:0; }
.pressroom .inner a					{ display:block; text-decoration:none; margin-top:20px; }
.pressroom .inner a img				{ width:100%; }
.pressroom .inner a strong				{ display:-webkit-box; font-size:14px; color:#333; margin:5px 0 10px; height:36px; line-height:17px; width:100%; }
.pressroom .inner a span				{ display:block; font-size:12px; color:#888; text-align:right; }


.boardview						{ margin:20px 20px 0; }
.boardview .tit					{ border-top:1px solid #333; border-bottom:1px solid #d0d0d0; padding:10px 0; }
.boardview .tit strong			{ font-size:14px; color:#333; display:block; padding:0 0 10px; }
.boardview .tit span			{ font-size:12px; color:#888; display:block; text-align:right; margin:6px 0 0; }
.boardview .viewTxt				{ font-size:12px; color:#333; padding:20px 0 30px; line-height:160%; }
.boardview .viewTxt img			{ width:auto; max-width:100%; }
.boardview .paging				{ border-top:1px solid #333; border-bottom:1px solid #333; }
.boardview .paging li			{ height:32px; position:relative; padding:0 0 0 100px; }
.boardview .paging li:first-child			{ border-bottom:1px solid #d0d0d0; }
.boardview .paging li span		{ position:absolute; top:0; left:0; width:100px; line-height:32px; font-size:12px; color:#333; padding:0 0 0 20px; }
.boardview .paging li:first-child span:after			{ content:'▲'; display:block; width:20px; height:32px; position:absolute; top:0; left:0; line-height:32px; }
.boardview .paging li:last-child span:after				{ content:'▼'; display:block; width:20px; height:32px; position:absolute; top:0; left:0; line-height:32px; }
.boardview .paging li a			{ height:32px; line-height:32px; width:100%; display:inline-block; max-width:100%; text-decoration:none; color:#333; font-size:12px; text-decoration:none; }

/* form > select */
select {appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; -ms-appearance: none; border-radius: 0;}
.select {height: 36px; padding-left: 12px; padding-right: 30px; border: 1px solid #d0d0d0; border-radius: 3px; background-image: url(../img/bg-selectbox-arrow.png); background-repeat: no-repeat; background-position: right 12px top 50%;}

.boardTit::after {content: ''; display: block; clear: both;}
.boardTit .select {margin-top: 20px; margin-right: 20px; float: right;}