
		<div class="sns_group">
			<a class="facebook" href="https://www.facebook.com/slkroad.cf" target="_blank" title="Facebook">
				<img src="<spring:message code="config.cdn.url" />/img/sns-facebook.png" alt="Go to Facebook">
			</a>
			<c:choose>
				<c:when test="${sessionScope.LANG_CODE == 'ko' }">
					<a class="medium" href="https://medium.com/silkroad-kr" target="_blank" title="Medium">
						<img src="<spring:message code="config.cdn.url" />/img/sns-medium.png" alt="Go to Medium">
					</a>
				</c:when>
				<c:otherwise>
					<a class="medium" href="https://medium.com/silkroad-eng" target="_blank" title="Medium">
						<img src="<spring:message code="config.cdn.url" />/img/sns-medium.png" alt="Go to Medium">
					</a>
				</c:otherwise>
			</c:choose>
			<a class="twitter" href="https://twitter.com/SlkroadC" target="_blank" title="Twitter">
				<img src="<spring:message code="config.cdn.url" />/img/sns-twitter.png" alt="Go to Twitter">
			</a>
			<a class="reddit" href="https://www.reddit.com/r/silkroad_fashion_ico" target="_blank " title="Reddit">
				<img src="<spring:message code="config.cdn.url" />/img/sns-reddit.png " alt="Go to Reddit ">
			</a>
			<a class="steamit" href="https://steemit.com/@slkroad" target="_blank " title="Steamit">
				<img src="<spring:message code="config.cdn.url" />/img/sns-steamit.png " alt="Go to Steamit ">
			</a>
			<c:choose>
				<c:when test="${sessionScope.LANG_CODE == 'ko' }">
					<a class="tele" href="https://t.me/joinchat/KZxyOw1AqueKJrMJyU_a2g" target="_blank" title="Telegram">
						<img src="<spring:message code="config.cdn.url" />/img/sns-telegram.png" alt="Go to Telegram">
					</a>
				</c:when>
				<c:otherwise>
					<a class="tele" href="https://t.me/joinchat/KZxyOxD0XhY1i7QQsTwlLQ" target="_blank" title="Telegram">
						<img src="<spring:message code="config.cdn.url" />/img/sns-telegram.png" alt="Go to Telegram">
					</a>
				</c:otherwise>
			</c:choose>
		</div>