@charset "UTF-8";
html, body {height: 100%;}
body { background-color: #f5f8fb; word-break: break-all;}
.lang_ko, .lang_en {word-break: keep-all;}
.wrapper { margin: 0 auto; width: 1200px; }
.header, .footer {line-height: 1.4; }
.header {background-color: #fff;}
.footer {background-color: #f5f8fb;}
.section-box { padding: 60px; background-color: #fff; }
.section-box + .section-box {margin-top: 4px;}
.container .wrapper {padding-top: 50px; padding-bottom: 100px;}
.container.page-main .wrapper {padding-top: 0; padding-bottom: 0;}

/* Set z-index  */
.header {z-index: 100;}

/* header */
.header { box-sizing: border-box; border-top: 1px solid #e4086d; border-bottom: 1px solid #e8e8e8; background-color: #fff; }
.header .wrapper { position: relative; text-align: center; }
.header .logo { padding-top: 13px; padding-bottom: 12px; }

.header .header-language { position: absolute; top: 30px; left: 0; }

.header-user-area { position: absolute; top: 30px; right: 12px; }

.gnb-list { overflow: hidden; display: inline-block; vertical-align: top; }

.gnb-item { float: left;}
.gnb-item > a { display: block; padding: 20px 23px; border-bottom: 1px solid transparent; color: #282828; font-weight: 500; }
.gnb-item:not(.active) > a:hover, 
.gnb-item:not(.active) > a:focus,
.gnb-item.active a { border-color: #e4086d; color: #e4086d; }
/* .gnb-item.active > a {color: inherit;} */

.header-user-area { color: #424242; font-size: 12px; font-weight: 400;}
.header-user-area a:hover .text, .header-user-area a:focus .text, .header-user-area a.active .text { color: #e4086d; text-decoration: underline; }
.header-user-area .picture { overflow: hidden; display: inline-block; margin-top: -4px; width: 24px; height: 24px; border-radius: 50%; background: url(../img/user-small.png) no-repeat 0 0; vertical-align: top; }
.header-user-area .picture > img { width: 100%; height: 100%; object-fit: cover; }
.header-user-area .text { padding-left: 12px; padding-right: 12px; vertical-align: middle;}
.header-user-area .picture + .text { padding-left: 5px; }
.header-user-area .text-login { display: inline-block; padding: 3px 11px 4px; border: 1px solid #b4b4b4; border-radius: 12px; color: #e4086d; vertical-align: middle;}
.header-user-area .text-login:hover, .header-user-area .text-login:focus { border-color: #e4086d; }

.state-login { display: inline-block; padding-top: 4px; }

.header-language { font-size: 12px; font-weight: 400; }
/* .header-language a { padding: 4px 11px; vertical-align: middle; }
.header-language a:not(.active):hover, 
.header-language a:not(.active):focus { color: #e4086d; text-decoration: underline; }
.header-language .active { display: inline-block; border-radius: 12px; background-color: #e4086d; color: #fff; } */

/* 스크롤 내렸을 때 */
.header-fixed .header { position: fixed; top:0; width: 100%; transition: all 2s; }
.header-fixed .header .logo { position: absolute; top: 0; left: 0; padding-top: 8px; padding-bottom: 0; width: 162px; }
.header-fixed .header .logo img { width: 100%; }
.header-fixed .header-language { display: none; }
.header-fixed .gnb-item > a { padding-top: 22px; padding-bottom: 21px; }
.header-fixed .header-user-area { top: 19px; }
.header-fixed .container {padding-top: 148px;}

/* footer */
.footer { border-top: 1px solid #e4086d; text-align: center; }
.footer .wrapper { padding-top: 40px; padding-bottom: 55px; }
.footer .address { color: #424242; font-weight: 500; }
.footer .copyright { margin-top: 10px; color: #828282; font-size: 12px; }

.sns_group { margin-bottom: 55px; }
.sns_group > a { display: inline-block; margin: 0 4px; padding: 5px; vertical-align: middle; }
.sns_group > a:last-child { margin-left: 30px; }

/* 컨텐츠 내용이 짧을 때 footer 고정시키키 */
.footer-fixed .footer {position: fixed; bottom: 0; width: 100%;}

.d-select {position: relative; z-index: 1001;}
.d-select-selection {box-sizing: border-box; padding-left: 12px; padding-right: 23px; width: 98px; height: 24px; border: 1px solid #b4b4b4; border-radius: 12px; line-height: 22px; background: #fff url(../img/bg-select-arrow.png) no-repeat 80px 9px; color: #424242; text-align: left; cursor: pointer;}
.d-select-selection:hover {border-color: #d41166;}

.d-select-results {display: none; position: absolute; top: 0; left: 0;}
.d-select-options { padding-top: 11px; padding-bottom: 11px; width: 98px; border: 1px solid #d0d0d0; border-radius: 5px; background-color: #fff; color: #222;}
.d-select-option {line-height: 26px; cursor: pointer;}
.d-select-option:hover {background-color: #f5f8fb; color: #d41166;}

.d-select.active .d-select-results {display: block;}



/* ================================    ENGLISH     ====================================== */
.lang_en .gnb-item > a {padding-left: 16px; padding-right: 16px; letter-spacing: -1px;}

/* ================================    JAPANESE     ====================================== */
.lang_jp .gnb-item > a {padding-left: 15px; padding-right: 15px; font-weight: 700;}

/* ================================    CHINESE     ====================================== */
.lang_cn .gnb-item > a {padding-left: 18px; padding-right: 18px; font-weight: 700;}