@charset "UTF-8";
/* main color: #d30262 */

/* tab */
.tab {margin-bottom: 16px;}
.tab-list > li {float: left; display: table; width: 25%; text-align: center;}
.tab-list a {display: table-cell; margin-left: 1px; height: 60px; border-bottom: 2px solid #fff; background-color: #fff; vertical-align: middle; line-height: 1.2; font-size: 12px; letter-spacing: -1px;}
.tab-list a:hover,
.tab-list a:focus,
.tab-list .active a {border-bottom-color: #d30262; color: #d30262;}
.tab-list > li:first-child a {margin-left: 0;}

.tab2-list {border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4;}
.tab2-list > li {float: left; text-align: center;}
.tab2-list a {display: block; height: 51px; border-bottom: 1px solid transparent; line-height: 51px; font-weight: 500; font-size: 14px; white-space: nowrap;}
.tab2-list a:hover,
.tab2-list a:focus,
.tab2-list .active a {border-bottom-color: #d30262; color: #d30262;}

/* table 가로형 */
.table table {font-size: 12px;}
.table th {padding: 14px 2px; font-weight: 300; word-break: break-word; line-height: 1.2;}
.table thead th {border-top: 1px solid #1c1c1c; background-color: #f5f8fb;}
.table td {padding: 14px 2px; border-top: 1px solid #ececec;}
.table table {border-bottom: 1px solid #ececec;}

/* table 가로형 (press)  */
.table-line table {font-size: 12px;}
.table-line th {padding: 14px 2px; font-weight: 400;}
.table-line thead th {border-top: 1px solid #d0d0d0; border-bottom: 1px solid #848484;}
.table-line td {padding: 14px 2px; border-top: 1px solid #d0d0d0; line-height: 1.4;}
.table-line tbody tr:first-child td {border-top: 1px solid #848484;}
.table-line table {border-bottom: 1px solid #848484; font-weight: 400;}
.table-line .no-contents {color: #222;}

table .no-contents td {padding-top: 30px; padding-bottom: 30px;}
table td.no-contents {padding-top: 30px; padding-bottom: 30px;}

/* form > input */
.hiddenInputWrap		{ position:relative; }
.hiddenInputWrap .hiddenInput					{ cursor:text; }
.hiddenInputWrap input	{ width:100% !important; }
.hiddenInputWrap.disabled .hiddenInput			{ background:#eee !important; }
.hiddenInput            { display:block; position:absolute; top:0; left:0; width:100%; z-index:1; background:#fff; line-height:26px; color:#666; }
.hiddenInput,
input[type="text"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="password"],
input[type="email"] {box-sizing: border-box; height: 50px; width: 100%; padding: 12px 20px; border: 1px solid #d0d0d0; border-radius: 3px; font-size: 14px;}
input:disabled,
input.disabled {background-color: #eee; cursor: default; color: #999; font-weight: 400;}

.label {display: inline-block; padding-left: 10px; padding-bottom: 10px; color: #222;}
.label-side {padding: 0 8px; vertical-align: middle; color: #222; font-weight: 400;}

/* form > select */
.select {width: 100%; height: 50px; padding: 12px 30px 12px 12px; border: 1px solid #d0d0d0; border-radius: 3px; background-image: url(../../img/bg-selectbox-arrow.png); background-repeat: no-repeat; background-position: right 12px top 50%;}
.select.select-center {text-align-last: center;}
.select.small {height: 37px; padding: 0 10px;}

/* form > input + select group */
.input-group .left {border-top-right-radius: 0; border-bottom-right-radius: 0;}
.input-group .right {border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: 0;}

/* title */
.section-title {margin-bottom: 20px; font-size: 18px; font-weight: 400; line-height: 1.2;}

/* button */
.button {height: 56px; line-height: 55px;background-color: #d30262; border: 1px solid #d30262; border-radius: 3px; color: #fff; font-weight: 300; font-size: 16px;}
.button.outline {background-color: #fff; border-color: #222; color: #222;}
.outline.primary {border-color: #d30262; color: #d30262;}

.button.secondary {background-color: #d5d8db; border-color: #d5d8db;color: #222;}
.button.fs14 {font-size: 14px; font-weight: 400;}

a.button,
a.button-round {box-sizing: border-box; display: inline-block; text-align: center;}

.button-wrap {margin-top: 30px;}
.button {width: 100%;}

.button-icon {width: 20px; height: 20px;}
.button-icon.memo {background: url(../../img/icon-memo.png) no-repeat 50% 50%;}

.button-underline {border-bottom: 1px solid #E4086D; font-size: 16px; color: #E4086D; line-height: 1.2; font-weight: 400;}
a.button-underline {display: inline-block;}

.button-round {width: 130px; height: 38px; line-height: 37px; border: 1px solid #8a8a8a; border-radius: 19px; color: #d30262; font-weight: 400;}
.button-round:hover,
.button-round:focus {border-color: #E4086D;}
.button-round.primary {border-color: #E4086D;}
.button-round.primary:hover,
.button-round.primary:focus {background-color: #E4086D; color: #fff;}

/* list */
.list-dot > li {padding-left: 10px; background: url(../../img/bg-dot-gray.png) no-repeat 0 8px;}

/* tag */
.tag {display: inline-block; width: 36px; height: 20px; border-radius: 10px; line-height: 20px; font-size: 10px; background-color: #039ee5; color: #fff; text-align: center;}
.tag.purple {background-color: #af3da5;}

/* checkbox */
.checkbox {display:inline-block;}
.checkbox-label {position: relative; padding-left: 30px; display: inline-block; cursor:pointer;}
.checkbox-form {overflow: hidden; position: absolute; top: 0; left: 0; display: inline-block; margin-right: 5px; width: 21px; height: 21px; background: url(../../img/bg-checkbox.png) no-repeat 0 0;}
.checkbox-text {vertical-align: middle; line-height: 1.5;}
.checkbox input[type="checkbox"]:checked + .checkbox-label .checkbox-form {background-position: 100% 0;}
.checkbox input[type="checkbox"]:disabled + .checkbox-label {cursor:not-allowed; color:#999;}
.terms .button-wrap .left {width: 49%;}
.terms .button-wrap .right {width: 49%;}

/* .no-placeholder [placeholder] {} */

.validation-text {margin-top: 5px; margin-left: 10px; line-height: 1.1;}

/* loading */
.loading-group{position:fixed;z-index:3000000000!important;top:0;right:0;bottom:0;left:0;box-sizing:border-box;width:100%;height:100%;border:1px solid rgba(255,255,255,.1);background:rgba(0,0,0,.6)}
.loading-group .loading{position:absolute;top:50%;left:50%;width:100px;height:100px;margin:-60px 0 0 -60px;text-align:center;border:10px solid transparent;border-color:rgba(255,255,255,.1);border-radius:50%}
.loading-group .loading:after{position:absolute;top:-10px;left:-10px;width:100px;height:100px;content:'';-webkit-animation:loading-2 .7s linear infinite;animation:loading-2 .7s linear infinite;border:10px solid transparent;border-top-color:#d30262;border-radius:50%}
@keyframes loading-2{0%{transform:rotate(0)}
    100%{transform:rotate(360deg)}
}

/* popup */
.popup:before {content: ''; z-index: 200; position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
.popup-wrapper {z-index: 210; position: absolute; top: 50%; left: 50%; margin-left: -312px; margin-top: -360px; box-sizing: border-box; padding-left: 40px; padding-right: 40px; padding-bottom: 44px; width: 624px; border-radius: 10px; background-color: #fff;}

.popup-header {position: relative; padding-top: 29px; padding-bottom: 29px; border-bottom: 1px solid #ececec; text-align: center;}
.popup-header-title {font-size: 24px; font-weight: 400;}
.popup-close {position: absolute; top: 10px; right: -30px; padding: 10px; line-height: 1;}
.popup-close > img {vertical-align: top;}

/* language selectbox */
.d-select {position: relative; z-index: 1001;}
.d-select-selection {box-sizing: border-box; padding-left: 12px; padding-right: 15px; width: auto; height: 24px; border-radius: 12px; line-height: 21px; background: transparent url(https://d3ly1h878gyzeb.cloudfront.net/img/bg-arrow-white.png) no-repeat 100% 9px; background-size: 8px; color: #424242; text-align: left; cursor: pointer; color: #fff; font-size: 12px;}
.d-select-selection:hover {border-color: #d41166;}

.d-select-results {display: none; position: absolute; top: 26px; left: 2px; font-size: 12px;}
.d-select-options { padding-left: 10px; width: 98px; color: #222; text-align: left;}
.d-select-option {line-height: 26px; cursor: pointer;}
/* .d-select-option:hover {background-color: #f5f8fb; color: #d41166;} */

.d-select.active .d-select-results {display: block;}

/* slick.css */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide.dragging img{pointer-events:none;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-loading .slick-track,.slick-loading .slick-slide{visibility:hidden;}
.slick-slide img,.slick-initialized .slick-slide{display:block;}
.slick-slide.slick-loading img,.slick-arrow.slick-hidden{display:none;}

/* slick-theme.css */
.slick-prev,.slick-next{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:none;background:transparent;padding:0;}
.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{color:transparent;outline:none;background:transparent;}
.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity:.25;}
.slick-prev:before,.slick-next:before{font-family:slick;font-size:20px;line-height:1;opacity:.75;color:#FFF;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-prev{left:-25px;}
[dir='rtl'] .slick-prev{right:-25px;left:auto;}
.slick-next{right:-25px;}
[dir='rtl'] .slick-next{right:auto;left:-25px;}
.slick-dotted.slick-slider{margin-bottom:30px;}
.slick-dots{position:absolute;bottom:-25px;display:block;width:100%;list-style:none;text-align:center;margin:0;padding:0;}
.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;cursor:pointer;margin:0 5px;padding:0;}
.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;cursor:pointer;color:transparent;border:0;outline:none;background:transparent;padding:5px;}
.slick-dots li button:hover,.slick-dots li button:focus{outline:none;}
.slick-dots li button:before{font-family:slick;font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:#000;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-dots li.slick-active button:before{opacity:.75;color:#000;}
.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before,.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1;}
.slick-prev:before,[dir='rtl'] .slick-next:before{content:'←';}
[dir='rtl'] .slick-prev:before,.slick-next:before{content:'→';}