@charset "UTF-8";

.main-title {padding-top: 80px; font-size: 26px; font-weight: 500; color: #222; text-align: center; letter-spacing: -1px;}
.main-subtitle {position: relative; margin-top: 40px; padding-top: 22px; font-size: 20px; text-align: center; color: #222; font-weight: 500; letter-spacing: -1px;}
.main-subtitle:after {content: ''; position: absolute; top: 0; left: 50%; margin-left: -18px; display: inline-block; width: 36px; height: 4px; background-color: #b22b89; border-radius: 2px;}
.main-subtitle.skyblue:after {background-color: #70bee7;}
.main-desc {margin-top: 40px; padding-left: 20px; padding-right: 20px; color: #424242; line-height: 1.5; font-weight: 400; text-align: center;}

.button-top-wrapper {position: relative; display:none; }
.button-top:hover {background-position-x: -72px;}
.button-top-fixed .button-top {position: fixed;}

/* HOME */
/* .main-home {position: relative; height: calc(100vh - 56px); min-height: 500px;} */
.main-home {position: relative; height: 600px;}

.main-home-bg {z-index: -1; position: absolute; top: 0; left: 0; width: 100%; height: 600px; text-align: center; background-color: #5d1d3e;}
.main-home-bg .slick-slide img {display: inline-block;}
.main-slider {overflow: hidden;}
.main-slider-img { height: 600px;}
.main-slider-img img {height: 100%; width: 100%; object-fit: cover;}

.main-home .wrapper {display: table; width: 100%; height: 100%;}
.main-home-contents {position: relative; display: table-cell; text-align: center; vertical-align: middle;}
.main-home-contents img {max-width: 100%;}
.main-home-contents .title {display: inline-block; width: 70%;}
.main-home-contents .desc {display: inline-block; margin-top: 40px; width: 90%;}
.main-home-contents .desc2 {margin-top: 20px; padding-left: 20px; padding-right: 20px; color: #fff; line-height: 1.4;}
.main-home-contents .scroll-down {position: absolute; bottom: 15px; left: 50%; margin-left: -16px;}

.button-buy-ico {display: inline-block; margin-top: 40px; width: 60%; max-width: 300px; height: 40px; line-height: 38px; border: 1px solid #fff; border-radius: 35px; color: #fff; font-weight: 400;}
.button-buy-ico:hover,
.button-buy-ico:focus {background-color: #fff; color: #e4086d;}

/* DOCUMENTS */
.main-doc {padding-bottom: 80px; background-color: #f5f8fb; text-align: center;}
.main-doc .docs {display: inline-block; margin-top: 40px; padding-left: 20px; padding-right: 20px;}

.doc-item {float: left; box-sizing: border-box; padding-left: 2%; padding-right: 2%; width: 33%;}
.doc-item-image {overflow: hidden; display: block; padding: 2px; border-radius: 2px; background-color: #fff; box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.3);}
.doc-item-image img {width: 100%;}
.doc-item-name {margin-top: 30px; text-transform: uppercase;}

.doc-item-button {box-sizing: border-box; display: block; margin-top: 20px; height: 30px; line-height: 29px; border-radius: 15px; font-size: 12px; color: #fff; background-color: #e4086d;}
/* .doc-item-button::before {content: ''; display: inline-block; margin-right: 5px; width: 18px; height: 16px; background: url(../../img/icon-download.png) no-repeat 0 0; vertical-align: middle;} */
.doc-item-button.orange {background-color: #ff6c00;}
.doc-item-button.purple {background-color: #af3da5;}
.doc-item-button.skyblue {background-color: #70bee7;}
.doc-item-button:hover, .doc-item-button:focus {background-color: #cf005f;}
.doc-item-button.orange:hover, .doc-item-button.orange:focus {background-color: #f93d00;}
.doc-item-button.purple:hover, .doc-item-button.purple:focus {background-color: #9026a7;}
.doc-item-button.skyblue:hover, .doc-item-button.skyblue:focus {background-color: #468ed1;}

.main-doc-tab {margin: 40px 20px 0;}
.main-doc-tab .tab2-list > li {width: 20%;}

/* ABOUT SILK ROAD */
/* .main-about {padding-bottom: 99px; border-top: 1px solid #d0d0d0; background: #dee1e4 url(../../img/bg-wave-short.png) no-repeat 50% 50%; background-size: cover; text-align: center;} */
.main-about {padding-bottom: 80px; border-top: 1px solid #d0d0d0; background: #f5f8fb url(../../img/bg-wave.png) no-repeat 50% 0; background-size: 100% 105%; text-align: center;}
.main-about-platform,
.main-about-services {padding: 40px 10px;}
.main-about-platform img,
.main-about-services img {width: 100%;}

.service-benefit                            {margin-top: 40px; padding-left: 20px; padding-right: 20px;}
.benefit-item                               {box-sizing: border-box; margin-left: 2%; margin-right: 2%; padding: 152px 20px 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); border-radius: 12px; background-color: #fff; color: #222; background-position: 50% 20px; background-repeat: no-repeat; background-size: 140px;}
.benefit-item + .benefit-item               {margin-top: 20px;}
.benefit-item-title                         {margin-top: 10px; height: 45px; font-size: 16px; line-height: 1.3;}
.benefit-item-title strong                  {display: block; font-weight: 500;}
.benefit-item-desc                          {margin-top: 16px; line-height: 1.5; text-align: left;}
.benefit-item-desc li                       {margin-top: 7px; padding-left: 26px;}
.benefit-item-desc li span                  {display: inline-block; text-indent: -26px;}
.benefit-item-desc li:first-child           {margin-top: 0px;}

.benefit-item.customer {background-image: url(../../img/bg-benefit1.png);}
.benefit-item.investor {background-image: url(../../img/bg-benefit2.png);}
.benefit-item.buyer {background-image: url(../../img/bg-benefit3.png);}

.investor .benefit-item-title,
.buyer .benefit-item-title {box-sizing: border-box; padding-top: 12px;}


/* ROADMAP */
.main-roadmap {position: relative; border-top: 1px solid #d0d0d0;}
/* .main-roadmap-bg {z-index: 1; position: absolute; top: -24px; left: 0; width: 100%; height: 1318px; background: url(../../img/bg-roadmap.png) no-repeat 50% 0; background-size: cover;} */
.main-roadmap .wrapper {z-index: 2; position: relative; box-sizing: border-box; padding-left: 20px; padding-right: 20px; padding-bottom: 80px;}
.timeline {margin: 40px 2% 0; border-style: solid; border-image: linear-gradient(to bottom, #a57edd 0%, #b447b1 48%, #70bee7 100%); border-image-slice: 1; border-image-width: 0 0 0 2px;}
.timeline-event {margin-top: -7px;}
.timeline-event + .timeline-event {margin-top: 40px;}

.timeline-event-time {position: relative; margin-bottom: 10px; padding-left: 20px; font-size: 16px; font-weight: 500;}
.timeline-event-time::before {content: ''; position: absolute; top: 4px; left: -6px; display: block; width: 8px; height: 8px; border-radius: 50%; background-color: #a57edd;}

.timeline-event-desc {padding-left: 21px; font-weight: 400; line-height: 1.6;}
.timeline-event-desc span {font-weight: 300;}
.timeline-event-desc > li {position: relative; margin-top: 10px; padding-left: 11px;}
.timeline-event-desc > li:first-child {margin-top: 0;}
.timeline-event-desc > li:before {content: ''; position: absolute; top: 4px; left: 0; display: inline-block; margin-top: 5px; width: 3px; height: 3px; background-color: #222; vertical-align: top;}

.when201807 { color: #a57edd;}
.when201808 { color: #b75fc9;}
.when201809 { color: #b243ac;}
.when201811 { color: #b54ab4;}
.when201812 { color: #b66bd1;}
.when201905 { color: #7bb2e4;}
.when2020 { color: #70bee7;}

.when201808 .timeline-event-time::before {background-color: #b755c0;}
.when201810 .timeline-event-time::before {background-color: #b447b1;}
.when201812 .timeline-event-time::before {background-color: #b56cd2;}
.when2020 .timeline-event-time::before {background-color: #79b4e5;}


/* TEAM */
.main-team {padding-bottom: 80px; background-color: #fff;}
.main-team-list {overflow: hidden; padding-left: 10px; padding-right: 10px;}
.main-team-list > li {float: left; box-sizing: border-box; padding: 30px 10px 0; width: 50%;}
.main-team-list > li:nth-child(2n+1) {clear: both;}
.main-team-list + .main-subtitle {margin-top: 60px;}
.profile {width: 100%; text-align: center;}
.profile-picture {overflow: hidden; width: 100%; height: 0; padding-bottom: 100%; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; background-color: #f5f8fb; border: 2px solid #70bee7;}
.profile-picture > img {width: 100%;}
.profile-name {display: block; margin-top: 20px; font-size: 16px; font-weight: 500; letter-spacing: -1px;}
.profile-position {display: block; margin-top: 10px; color: #848484; font-size: 12px; text-transform: uppercase;}
.profile-story {display: none; margin-top: 20px; color: #848484; line-height: 1.6; text-align: left;}

.profile-more-button {margin-top: 15px; padding-left: 20px; padding-right: 20px; height: 30px; border: 1px solid #b4b4b4; border-radius: 15px; color: #d31167; font-size: 12px;}
.profile-more-button:hover,
.profile-more-button:focus {border-color: #e4086d;}

/* PARTNER */
.main-partners {padding-bottom: 80px; background-color: #fff;}
.main-partner-list {overflow: hidden; box-sizing: border-box; margin-top: 20px; padding-left: 15px; padding-right: 15px;}
.main-partner-list li {box-sizing: border-box; display: table; float: left; padding-left: 5px; padding-right: 5px; width: 50%; height: 100px; text-align: center;}
.main-partner-list a {display: table-cell; vertical-align: middle;}
.main-partner-list img {max-width: 100%;}

/* FAQ */
.main-faq {padding-bottom: 80px; background-color: #fff;}
.main-faq-list {margin-top: 40px; padding-left: 20px; padding-right: 20px;}
.main-faq-list .faq-item:first-child {border-top: 1px solid #d0d0d0;}
.faq-item {border-bottom: 1px solid #d0d0d0;}

.faq-question {font-size: 14px; color: #222;}
.faq-question > a {overflow: hidden; display: block; padding:15px 10px 14px; line-height: 1.4;}
.faq-question > a:after {content: ' '; float: right; margin-top: 5px; display: block; width: 16px; height: 9px; background:url(../../img/bg-after.png) no-repeat 0 0;}
.faq-question-order {float: left; display: block; width: 8%; font-weight: 500;}
.faq-question-text {float: left; display: block; width: 80%; font-weight: 400;}
.faq-answer {display: none; padding: 15px 10px; background-color: #f5f8fb; color: #444; line-height: 1.6; font-weight: 400;}

.faq-question > a:hover .faq-question-text {color: #d31167; text-decoration: underline;}
.faq-question > a:hover::after {background-position-x: -26px; }

.faq-item.active .faq-answer {display: block;}
.faq-item.active .faq-question-text {color: #d31167;}
.faq-item.active .faq-question > a:after {background-image: url(../../img/bg-previous.png);}

.faq-more-button {margin-top: 40px;}

/* GOOGLE PLAY */
.button-google-play {overflow: hidden; display: inline-block; width: 190px; height: 42px; background: url(../../img/button-google-play.png) no-repeat 0 0; background-size: 190px;}
.button-google-play:hover {background-position-y: -58px;}

.main-banner {padding-bottom: 80px; border-top: 1px solid #d0d0d0; background: #f5f8fb url(../../img/bg-wave.png) no-repeat 0 0; background-size: cover;}
.main-banner-visual {margin-top: 30px; margin-bottom: 40px; text-align: center;}
.main-banner-visual img {width: 90%;}

/* Media */
.main-media {clear: both; padding-top: 63px;}

.media-list {margin-top: 40px;}
.media-list > li {display: inline-block; margin: 0 2px 20px; width: 160px;}

.media-item {display: block;}
.media-item-image {position: relative; display: inline-block; border: 2px solid #fff; box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);}
.media-item-image:before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
.media-item-image:after {content: ''; overflow: hidden; position: absolute; top: 50%; left: 50%; display: block; margin-top: -10px; margin-left: -12px; width: 19px; height: 24px; background: url(../../img/button-media-play.png) no-repeat 0 0;}
.media-item-title {margin-top: 15px; color: #424242; line-height: 20px; text-align: center; word-break: break-all;}

.media-item:hover .media-item-image {border-color: #e4086d;}
.media-item:hover .media-item-image:after {background-position-y: -34px;}





/* ENGLISH */
.lang_en .benefit-item-desc {font-size: 14px;}
/* .lang_en .main-home-contents .desc2 {padding-left: 140px; padding-right: 140px;} */





/* ================================    Sales     ====================================== */
.page-sales								            { width:100%; min-height:500px; background: #fff url(../../img/salesVisualBg_repeat_m.jpg) repeat-x 0 0; background-size: 1px; }
/* .header-fixed .page-sales				            { background:url(../../img/salesBg1.png) 0 148px repeat-x #fff; } */
.page-sales .salesTopMoney					        { min-height:1335px; background:url(../../img/salesVisualBg_m3.jpg) 50% 0 no-repeat; background-size: 649px; }
.page-sales .salesTopMoney .inner			        { padding:0 16px 87px; position:relative; }
.page-sales .salesTopMoney .inner:after		        { position:absolute; bottom:0; left:50%; width:1px; height:47px; content:''; background:#000; }
.page-sales .salesTopMoney .inner .tit				{ font-size:17px; color:#fff; text-align:center; padding:40px 0 20px; }
.page-sales .salesTopMoney .inner .time				{ text-align:center; }
.page-sales .salesTopMoney .inner .time p			{ display:inline-block; padding:0 0 0 23px; }
.page-sales .salesTopMoney .inner .time .day		{ padding:0; }
.page-sales .salesTopMoney .inner .time strong		{ font-size:41px; font-weight:bold; color:#fff; display:block; text-align:center; }
.page-sales .salesTopMoney .inner .time span		{ font-size:11px; padding:8px 0 0; color:#fff; display:block; font-weight:300; }
.page-sales .salesTopMoney .inner .txt1		        { font-size:12px; color:#fff; padding:40px 0 20px; text-align:center; font-weight:300; }
.page-sales .salesTopMoney .inner .txt1-1           { display: block; opacity: 0.5; text-align: center; margin-bottom: 6px;}
.page-sales .salesTopMoney .inner .txt1-dash        { display: none; }
.page-sales .salesTopMoney .inner .percent	        { background:#fff; height:41px; padding:2px; position:relative; }
.page-sales .salesTopMoney .inner .percent:after	{ position:absolute; bottom:-5px; left:50%; content:''; width:10px; height:5px; margin-left:-5px; background:url(../../img/percentArr.png) 0 0 no-repeat; }
.page-sales .salesTopMoney .inner .percent span		{ line-height:41px; font-size:17px; font-weight:500; display:block; color:#fff; text-align:center; min-width:10%;
	background: rgb(191,45,147); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(191,45,147,1) 0%, rgba(228,8,109,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(191,45,147,1) 0%,rgba(228,8,109,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(191,45,147,1) 0%,rgba(228,8,109,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2d93', endColorstr='#e4086d',GradientType=1 ); /* IE6-9 */
}
.page-sales .salesTopMoney .inner .tokenArea		            { width:100%; display:inline-block; position:relative; text-align:center; margin:20px 0 15px; }
.page-sales .salesTopMoney .inner .tokenArea .total				{ color:#fff; opacity:0.5; font-size:12px; margin-bottom: 6px;}
.page-sales .salesTopMoney .inner .tokenArea .sold				{ line-height:32px; font-size:16px; color:#fff; }
.page-sales .salesTopMoney .inner .tokenArea .sold strong		{ color:#fff; font-size:22px; font-weight:400; line-height:34px; padding:0 8px; }
.page-sales .salesTopMoney .inner .tokenArea .sold span			{ font-size:12px; color:#fff; vertical-align: middle; }
.page-sales .salesTopMoney .inner .tokenArea .left				{ color:#fff; opacity:0.5; font-size:12px; margin-top: 6px; text-align: center; float: none; }
.page-sales .salesTopMoney .inner .txt2		                    { font-size:11px; color:#222; padding: 100px 9px 0; text-align:center; line-height:15px; word-break: keep-all; }
.page-sales .salesTopMoney .inner .txt2 br                      { display: none; }
.page-sales .salesTopMoney .inner>a			                    { position: absolute; top: 392px; left: 50%; width:222px; height:46px; background:#e4086c; font-size:18px; color:#fff; text-align:center; line-height:46px; display:block; margin-left: -111px; border-radius:41px; font-weight: 400; }

.page-sales .salesTopMoney .supply			                    { padding-top: 40px; text-align:center; }
.page-sales .salesTopMoney .supply span		                    { font-size:16px; color:#222; font-weight:600; display:block; padding:0 0 18px; }
.page-sales .salesTopMoney .supply strong	                    { font-size:34px; color:#af2d8b; font-weight:600; display:block; padding:0 0 40px; letter-spacing:-3px; }
.page-sales .salesTopMoney .supply img                          { width: 46px; }
.page-sales .salesTopMoney .salesNum		                    { padding:60px 0 80px; overflow:hidden;}
.page-sales .salesTopMoney .salesNum>div	                    { box-sizing: border-box; text-align:center; }
.page-sales .salesTopMoney .salesNum>div>img                    { width: 150px; }
.page-sales .salesTopMoney .salesNum>div>strong			        { display:block; padding:15px 0; font-size:18px; font-weight:500; }
.page-sales .salesTopMoney .salesNum>div.sales1>strong         	{ color:#af2d8b; }
.page-sales .salesTopMoney .salesNum>div.sales2>strong	        { color:#e10b70; }
.page-sales .salesTopMoney .salesNum>div>p			   	        { text-align:center; }
.page-sales .salesTopMoney .salesNum>div>p span			        { font-size:14px; margin-right: 5px; display:inline-block; line-height:22px; font-weight:400; }
.page-sales .salesTopMoney .salesNum>div>p strong		        { font-size:14px; font-weight:600; line-height:22px; }
.page-sales .salesTopMoney .salesNum>div>p strong em	        { font-style:normal; font-weight:normal; }
.page-sales .salesTopMoney .salesNum>div.sales1>p span,
.page-sales .salesTopMoney .salesNum>div.sales1>p strong,
.page-sales .salesTopMoney .salesNum>div.sales1>p strong em		{ color:#af2d8b; }
.page-sales .salesTopMoney .salesNum>div.sales2                 { margin-top: 40px; }
.page-sales .salesTopMoney .salesNum>div.sales2>p span,
.page-sales .salesTopMoney .salesNum>div.sales2>p strong,
.page-sales .salesTopMoney .salesNum>div.sales2>p strong em		{ color:#e10b70; }

.page-sales .salesTopMoney .salesTb			                    { margin: 0 10px; line-height: 1.4; }
.page-sales .salesTopMoney .salesTb th		                    { padding:0 0 0 5px; width: 90px; text-align:left; font-size:12px; color:#222; font-weight:400; vertical-align:middle; }
.page-sales .salesTopMoney .salesTb td		                    { padding:10px 0; font-size:14px; color:#222; font-weight:600; }
.page-sales .salesTopMoney .salesTb td span		                { font-weight:400; }
.page-sales .salesTopMoney .salesTbTxt		                    { margin-top: 10px; padding-left: 24px; padding-right: 10px; text-align:left; font-size:12px; color:#848484; line-height: 1.4; text-indent: -15px; word-break: keep-all;}

.salesGraphImg                  { padding: 80px 16px; }
.salesGraphImg img	            { width: 100%; }
.salesGraphImg > span           { display: block; margin-left: auto; margin-right: auto; }
.salesGraphImg1,
.salesGraphImg3	                { max-width: 300px; }
.salesGraphImg2,
.salesGraphImg4	                { display: block; margin: 0 auto; max-width: 200px; }

.salesGraphImg2,
.salesGraphImg4                 { margin-top: 20px; }
.salesGraphImg3                 { margin-top: 60px; }

.page-sales + .footer           { margin-top: 0; }

.forPc                          {display: none;}
.forMobile                      {display: block;}

/* 프리세일 언어별 수정 */
.lang_jp .page-sales .salesTopMoney .inner .txt2 {word-break: break-all;}
.lang_jp .page-sales .salesTopMoney .salesTbTxt {word-break: break-all;}

.lang_cn .page-sales .salesTopMoney .inner .txt2 {word-break: break-all;}

.lang_en .page-sales .salesTopMoney .salesTb th {word-break: break-word;}

/* 상단배너 추가 */
.banner-presale {background: url(../../img/bg-banner-presale.jpg) no-repeat 50% 50%; background-size: cover;}
.top-banner {background-color: #e3096f;}
.top-banner .wrapper {position: relative;}
.top-banner-close {position: absolute; top: 10px; right: 10px;}
.top-banner-close img {width: 20px;}

.top-banner-content {margin: 0 auto; height: 150px; color: #fff; text-align: center;}
.banner-presale-title {padding-top: 10px; font-size: 16px; font-weight: 400; line-height: 2;}
.banner-presale-info {line-height: 1.3; font-weight: 400; font-size: 12px;}

.banner-presale-progress {box-sizing: border-box; margin: 10px 10px 8px; padding: 1px; height: 8px; background-color: #fff;}
.banner-presale-progress .inner {height: 6px; width: 100%; font-size: 12px; background-color: #c0227b;}

.banner-presale-number .sold,
.banner-presale-number .slk {opacity: 0.5; vertical-align: -2px; font-size: 12px;}
.banner-presale-number .value {margin: 0 15px; font-size: 16px; font-weight: 500;  vertical-align: middle;}

.banner-presale-button {display: inline-block; margin-top: 12px; width: 180px; height: 26px; line-height: 25px; border: 1px solid #fff; border-radius: 40px; text-align: center; font-size: 14px;}

.banner-home-content {height: 40px; color: #fff; font-size: 16px; text-align: center; line-height: 40px;}
.banner-home-content > a:before {content: ''; display: inline-block; margin-right: 8px; width: 18px; height: 18px; background: url(../../img/icon-home.png) no-repeat; background-size: 100%; vertical-align: -2px;}

/* layer */
.noticeLayer			            { position:fixed; top:50%; left:50%; width:300px; background:#f5f8fb; border-radius:5px; z-index:10001; margin:-200px 0 0 -152px; box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5); }
.noticeLayer .logo		            {text-align:center;padding: 30px 0 5px;}
.noticeLayer .nlArea	            {margin:10px;padding: 0 7px 10px;width:266px;/* height:310px; */background:#fff;}
.noticeLayer .nlArea .tit			{ padding:12px 0; text-align:center; font-size:18px; color:#222; font-weight:500; line-height: 1.2; }
.noticeLayer .nlArea .layerCont		{border:1px solid #ccc;width:244px;height: 180px;padding:10px;font-size:12px;color:#666;overflow:auto;line-height:20px;}
.noticeLayer .nlArea .more			{height:30px;line-height:30px;background-color:#d30262;border:1px solid #d30262;border-radius:3px;color:#fff;font-weight:400;font-size: 14px;display:block;text-align:center;margin-top:12px;}
.noticeLayer .close		            {display:inline-block;padding:2px 8px 3px;border:1px solid #b4b4b4;border-radius:12px;color:#e4086d;vertical-align:middle;position:absolute;top:6px;right:6px;font-size: 11px;}

/* 메인 > press room 리스트 추가 */
.main-press                { padding-bottom: 80px; background-color: #fff; }
.press-list                { margin: 40px 20px 0; border-top: 1px solid #d0d0d0; }
.press-item                { overflow: hidden; display: block; padding: 15px 10px 14px; border-bottom: 1px solid #d0d0d0; line-height: 1.4; }
.press-item-title          { margin-bottom: 2px; font-weight: 400; }
.press-item-time           { color: #848484; font-size: 12px; }
.press-item-b              { margin-right: 4px; font-weight: 500; }