@charset "UTF-8";
body { background-color: #f5f8fb; word-break: break-all; }
.lang_ko, .lang_en {word-break: keep-all;}
.wrapper {width: 100%;}
.header, .footer {line-height: 1.4; }
.section-box { padding: 40px 20px; background-color: #fff; }
.section-box + .section-box {margin-top: 10px;}

/* header */
.header {z-index: 10000; position: fixed; top: 0; width: 100%; background-color: rgba(255, 255, 255, 0.9);}
.header .wrapper {position: relative;}

.header,
.header-login {height: 56px; border-top: 1px solid #d30262;}
.logo img {width: 130px;}

.header .logo {padding-top: 9px; padding-left: 10px;}
.header-login .logo {padding-top: 9px; padding-left: 15px;}

.header .header-language,
.header .header-user-area,
.header .gnb,
.header-login .js-lang-select {display: none;}

/* 모바일  gnb*/ 
.mob_gnb					{ z-index: 12000; opacity: 0; position:fixed; top: -100%; width:100%; height:100%; background:linear-gradient(to bottom right, #b02d8b, #d11468); }
.mob_gnb .mgInner			{ width:100%; height:100%; overflow:auto; }
.mob_gnb .mob_gnbList		{ width:100%; }
.mob_gnb .mob_gnbList li a	{ display:block; text-align:center; color:#222; font-size:16px; font-weight:500; line-height:34px; letter-spacing:-0.5px; }
.mob_gnb .mob_gnbList li.active a			{ color:#fff; }
.mob_gnb .mob_gnbList li:last-child			{ text-align:center; margin:30px 0 0; }
.mob_gnb .mob_gnbList li:last-child a		{ display:inline-block; width:120px; height:24px; border:1px solid #fff; color:#fff; text-align:center; line-height:24px; font-size:12px; border-radius:16px; font-weight:normal; }
.mob_gnb .mob_user			{ text-align:center; padding:0 0 10px 0; }
.mob_gnb .mob_user a		{ margin:0 24px; font-size:12px; }
.mob_gnb .mob_user a.active { color: #fff; }

.mob_gnbTop { position: relative; padding-top: 25px; padding-bottom: 35px; text-align: center;}
.mob_gnbClose > img {width: 40px;}

.mobGnbCloseBt {position: absolute; top: 30px; right: 20px; padding: 10px;}
.mobGnbCloseBt > img {width: 16px;}

.mobGnbBt {position:absolute; top:11px; right:4px; padding: 10px; width: 24px;}
.mobGnbBt > span{display: block; margin-top: 6px; height: 1px; background-color: #222;}
.mobGnbBt > span:first-child {margin-top: 0;}

.lang-select-wrap {position: absolute; top: 36px; left: 17px; color: #fff;}
#mLangSelect {border: 0; padding-left: 12px; padding-right: 15px; background: transparent url(https://d3ly1h878gyzeb.cloudfront.net/img/bg-arrow-white.png) no-repeat 100% 9px; background-size: 8px; line-height: 22px; font-size: 12px; color: #fff;}
#mLangSelect option {color: #222;}
.header-login #mLangSelect {color: #222; background-image: url(../../img/bg-select-arrow.png);}

.mob_sns { width:100%; text-align:center; margin:30px 0 0; }
.mob_sns > a { display: inline-block; margin: 0 2px; padding: 0 5px; }
.mob_sns > a.ml30 { margin-left: 20px; }

.mob_sns .facebook img {width: 9px;}
.mob_sns .medium img {width: 20px;}
.mob_sns .twitter img {width: 23px;}
.mob_sns .reddit img {width: 21px;}
.mob_sns .steamit img {width: 21px;}
.mob_sns .tele img {width: 23px;}
.mob_sns .sns img {width: 23px;}

/* container */
.container {padding-top: 56px;}

/* footer */
.page-main + .footer {margin-top: 0;}
.footer {background-color: #f5f8fb; padding: 0 20px; margin-top: 40px; border-top: 1px solid #e4086d; text-align: center; font-size: 12px;}
.footer .wrapper { padding-top: 40px; padding-bottom: 55px; }
.footer .address { color: #424242;}
.footer .copyright { margin-top: 10px; color: #828282; }

.sns_group { margin-bottom: 25px; }
.sns_group > a { display: inline-block; margin: 0 2px; padding: 0 5px; }
.sns_group > a.ml30 { margin-left: 20px; }

.sns_group .facebook img {width: 9px;}
.sns_group .medium img {width: 20px;}
.sns_group .twitter img {width: 23px;}
.sns_group .reddit img {width: 21px;}
.sns_group .tele img {width: 23px;}
.sns_group .sns img {width: 23px;}
/* .sns_group > a:last-child { margin-left: 30px; } */

/* ================================    JAPANESE     ====================================== */
.lang_jp {word-break: initial;}