@charset "UTF-8";

.container:not(.page-main) .wrapper {box-sizing: border-box; padding-left: 15px; padding-right: 15px;}
.wrapper .tab:first-child {margin-top: 20px;}

/* My infomation */
.my-info .name       {text-align: center;}
.my-info .name .text {display: block; font-size: 24px; font-weight: 400;}
.my-info .avatar     {overflow: hidden; display: inline-block; width: 132px; height: 132px; border-radius: 50%; background: url(../../img/bg-avatar.png) no-repeat 0 0;}
.avatar > img        {width: 100%; height: 100%; object-fit: cover;}

.my-info-list                      {margin: 20px auto 0; line-height: 1.4; word-break: break-all;}
.my-info-list dt,
.my-info-list dd                   {padding-left: 5px; padding-right: 5px;}
.my-info-list dt                   {padding-top: 15px; color: #666;}
.my-info-list dt:first-child       {border-top: 1px solid #ececec;}
.my-info-list dd                   {padding-top: 5px; padding-bottom: 15px; border-bottom: 1px solid #ececec; font-size: 16px;}

.last-login-info                   {margin-top: 20px; color: #666; text-align: center;}
.last-login-info > span            {display: inline-block; padding-left: 10px; background: url(../../img/bg-dot-gray.png) no-repeat 0 50%;}
.last-login-info > span + span     {margin-top: 5px;}

/* 지갑 송금 */
.send-my-money .input-group .left  {width: 70%;}
.send-my-money .input-group .right {width: 30%;}
.send-my-money .form-row + .form-row {margin-top: 20px;}
.send-my-money .select             {font-size: 16px;}

/* 로그인 기록 */
.my-login-history tr th:nth-of-type(1),
.my-login-history tr td:nth-of-type(1) {width: 28%;}
.my-login-history tr th:nth-of-type(2),
.my-login-history tr td:nth-of-type(2) {width: 28%;}
.my-login-history tr th:nth-of-type(3),
.my-login-history tr td:nth-of-type(3) {width: 14%;}
.my-login-history tr th:nth-of-type(4),
.my-login-history tr td:nth-of-type(4) {width: 20%;}

/* 토큰 구매하기 */
.buy-token .notice {padding: 0 18px; font-size: 16px; font-weight: 400; text-align: center; color: #222; line-height: 1.4;}

.qr-code           {margin: 10px 0 35px; text-align: center}
.qr-code .image    {display: inline-block;}
.qr-code .image img{max-width: 80%;}
.qr-code .text     {display: block;}

.buy-token .caution-title   {padding: 50px 0 2px 1px; color: #af3da5;}
.buy-token .list-dot        {margin-left: 8px; color: #666;}
.buy-token .list-dot strong {color: #222; font-weight: 300;}
.buy-token .list-dot > li   {margin-top: 6px; line-height: 1.3;}

/* 거래 내역 */
.transaction-history .table           {position: relative; line-height: 20px;}
/* .transaction-history .table .ellipsis {display: inline-block; width: 150px;} */
.transaction-history .table .ellipsis:hover {color: #0b8eca;}
/* .transaction-history .table td        {padding-left: 3px; padding-right: 3px;} */
/* .transaction-history .table-sort      {position: absolute; top: -53px; right: 0;} */
.table-sort {display: block; margin-bottom: 10px; text-align: center;}
.table-sort .select                   {width: auto; min-width: 100px; vertical-align: middle;}

/* .transaction-history-to               {line-height: 20px;} */
.transaction-history .ellipsis            {width: 100%;}

.transaction-history tr th:nth-of-type(2),
.transaction-history tr th:nth-of-type(3),
.transaction-history tr th:nth-of-type(6) {display: none;}

.transaction-history tr td:nth-of-type(2),
.transaction-history tr td:nth-of-type(3),
.transaction-history tr td:nth-of-type(6) {display: none;}

.transaction-history tr th:nth-of-type(1) {width: 30%;}
.transaction-history tr th:nth-of-type(4) {width: 30%;}
.transaction-history tr th:nth-of-type(5) {width: 20%;}
.transaction-history tr th:nth-of-type(7) {width: 20%;}

.transaction-history tr td:nth-of-type(1) {width: 30%;}
.transaction-history tr td:nth-of-type(4) {width: 30%;}
.transaction-history tr td:nth-of-type(5) {width: 20%;}
.transaction-history tr td:nth-of-type(7) {width: 20%;}

.transaction-history .button-wrap .button {width: 122px; height: 26px; border-radius: 13px; line-height: 24px; font-size: 12px;}

/* 개인정보 변경 & 비밀번호 변경 */
.change-my-info .form-row + .form-row,
.change-password .form-row + .form-row {margin-top: 15px;}

.change-my-info .button-wrap,
.change-password .button-wrap          {margin-top: 30px;}
.change-my-info .button-wrap .button,
.change-password .button-wrap .button  {width: 100%;}

/* 개인정보 변경 */
.field-name .left                     {width: 59%;}
.field-name .right                    {width: 39%;}

.field-phone                          {margin-top: 6px; margin-bottom: 6px;}
.field-phone .left                    {width: 65%;}
.field-phone .right                   {width: 33%;}
.field-phone .button                  {height: 50px; line-height: 49px;}

/* 비밀번호 변경 */
.change-password .notice {padding: 10px 13px 0 10px; line-height: 1.3;}

/* popup 송금하기 */
.popup-send-money {text-align: center;}
.popup-send-money .title {margin-top: 23px; font-size: 24px;}

.send-money-info {margin-top: 30px; color: #222;}
.send-money-info .amount {display: inline-block; margin-top: 18px; margin-bottom: 15px; padding-bottom: 3px; padding-left: 29px; font-size: 16px; font-weight: 400; color: #d30262; background: url(../../img/bg-double-arrow.png) no-repeat 0 3px;}

.send-money-history {box-sizing: border-box; margin-top: 40px; padding: 20px; background-color: #fafafa; line-height: 1.5; text-align: left;}
.send-money-history dt {float: left; box-sizing: border-box; width: 26%; text-align: right; padding-right: 10px;}
.send-money-history dd {float: right; width: 74%;}

.send-money-message {margin-top: 30px; padding-left: 70px; padding-right: 70px; font-size: 17px; line-height: 1.4;}
.send-money-message strong {font-weight: 500;}
.send-money-message .confirm {display: block; margin-top: 17px; font-weight: 400;}

.popup-send-money .button-wrap {margin-top: 30px; padding: 0 23px;}
.popup-send-money .button {width: 245px;}