@charset "UTF-8";

body.page-press {background-color: #fff;}

/* 공지사항 */
.press-table {margin-top: 20px; color: #848484;}
.press-table-title {display: block; color: #222;}
.press-table tr th:nth-of-type(1),
.press-table tr td:nth-of-type(1) {width: 15%;}
.press-table tr th:nth-of-type(2),
.press-table tr td:nth-of-type(2) {width: 60%;}
.press-table tr th:nth-of-type(3),
.press-table tr td:nth-of-type(3) {width: 25%;}

.press-table + .button-wrap,
.news-item-wrap + .button-wrap {margin-top: 20px;}

.section-title-press {margin-top: 40px; font-size: 18px; font-weight: 500; letter-spacing: -1px;}

.press-tab {margin: 30px auto 0;}
.press-tab li {width: 33.333333333333%;}

/* 보도자료 */
.news-item-wrap {margin: 10px auto 0;}
.news-item {float: left; box-sizing: border-box; padding: 10px; width: 50%;}
.news-item a {display: block;}
.news-item > a:hover .news-item-title,
.news-item > a:focus .news-item-title {color: #bd2f95; text-decoration: underline;}
.news-item-photo {overflow: hidden; max-width: 100%;}
.news-item-photo > img {width: 100%; height: 100%; object-fit: cover;}
.news-item-title {overflow: hidden; margin-top: 10px; max-height: 45px; color: #222; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.4;}
.news-item-date {margin-top: 5px; color: #848484;}

.news-item-wrap .no-contents {padding: 50px; border-top: 1px solid #848484; border-bottom: 1px solid #848484; text-align: center;}
.news-item-wrap ul li:nth-child(2n+1) {clear: both;}

/* 상세보기 */
.article {margin-top: 20px;}

.article-header {padding: 10px; border-top: 1px solid #848484; border-bottom: 1px solid #d0d0d0;}
.article-header-title {width: 78%; font-size: 16px; font-weight: 400; color: #222; line-height: 1.2;}
.article-header-date {color: #535353;}

.article-body {padding: 30px 10px; color: #000; font-weight: 400; line-height: 1.8;}
.article-body p + p {margin-top: 10px;}
.article-body img {width: 100%; height: auto; margin-top: 10px; margin-bottom: 10px;}

.paging {border-top: 1px solid #848484; border-bottom: 1px solid #848484; color: #848484;}
.paging-previous,
.paging-after {position: relative; display: block; padding: 10px;}
.paging-after {border-top: 1px solid #d0d0d0;}

.paging-date {position: absolute; top: 13px; right: 10px; float: right;}

.paging-text {position: absolute; top: 13px; left: 10px; font-size: 12px;}
.paging-text::before {content: ''; display: inline-block; margin-right: 5px; width: 16px; height: 9px; background-repeat: no-repeat; background-position: 0 0;}
.paging-previous .paging-text::before {background-image: url(../../img/bg-previous.png);}
.paging-after .paging-text::before {background-image: url(../../img/bg-after.png);}

.paging-title {padding-left: 63px; padding-right: 80px; color: #222; font-weight: 400; line-height: 1.3;}
.paging a:hover .paging-title,
.paging a:focus .paging-title {color: #E4086D; text-decoration: underline;}
.paging a:hover .paging-text::before,
.paging a:focus .paging-text::before {background-position-x: -26px;}

/* ================================    CHINESE     ====================================== */
.lang_cn .paging-title {padding-left: 90px;}