@charset "utf-8";

input[type="button"] {cursor:pointer;}

/* form styling*/
label span.text {
	display:inline-block;
	margin-left:3px;
	color:#bbb;
}

.login_btn {
	background:#3871b8;
	padding:10px!important;
	width:100px!important;
	color:#fff;
	border:1px solid #2e66ac;
}

@charset "utf-8";



/* color */
.yel {color:#d9a336;}
.yel2{color:#FFC700}
.brown {color:#785c02;}
.red {color:#d92b3a;}
.green{color:#13b335;}
.blue {color:#3871b8; }
.bk {color:#333;}
.must {color:#d92b3a;display:inline-block; margin-right:5px;}



/* table class */
.tlist1 {width:85px;}
.tlist2 {width:463px;}
.tlist3 {width:86px;}
.twrite1 {width:99px;}
.twrite2 {width:601px;}

.w3 {width:3%;}
.w4 {width:4%;}
.w5 {width:5%;}
.w6 {width:6%;}
.w7 {width:7%;}
.w8 {width:8%;}
.w9 {width:9%;}
.w10 {width:10%;}
.w11 {width:11%;}
.w12 {width:12%;}
.w13 {width:13%;}
.w14 {width:14%;}
.w15 {width:15%;}
.w16 {width:16%;}
.w17 {width:17%;}
.w18 {width:18%;}
.w19 {width:19%;}
.w20 {width:20%;}
.w23 {width:23%;}
.w25 {width:25%;}
.w27 {width:27%;}
.w28 {width:28%;}
.w29 {width:29%;}
.w30 {width:30%;}
.w35 {width:35%;}
.w40 {width:40%;}
.w45 {width:45%;}
.w50 {width:50%;}
.w55 {width:55%;}
.w60 {width:60%;}
.w65 {width:65%;}
.w70 {width:70%;}
.w75 {width:75%;}
.w80 {width:80%;}
.w85 {width:85%;}
.w90 {width:90%;}
.w95 {width:95%;}
.w100 {width:100%;}

.s10 {width:10px;}
.s40 {width:40px;}
.s55 {width:55px;}
.s60 {width:60px;}
.s61 {width:61px;}
.s66 {width:66px;}
.s80 {width:80px;}
.s100 {width:100px;}
.s120 {width:120px;}
.s140 {width:140px;}
.s154 {width:154px;}
.s180 {width:180px;}
.s200 {width:200px;}
.s250 {width:250px;}
.s300 {width:300px;}
.s338 {width:338px;}
.s400 {width:400px;}
.s800 {width:800px;}
.s920 {width:920px;}

.h50 {height:50px;}
.h60 {height:60px;}
.h70 {height:70px;}
.h80 {height:80px;}
.h90 {height:90px;}
.h100 {height:100px;}
.h110 {height:110px;}
.h120 {height:120px;}
.h130 {height:130px;}
.h140 {height:140px;}
.h150 {height:150px;}
.h200 {height:200px;}
.h250 {height:250px;}
.h300 {height:300px;}

/* input class */
.i_text {border:1px solid #cbcbcb; /*height:13px;*/ font:13px/100% Nanum Gothic; color:#666; padding:5px 6px; vertical-align:middle;}
.i_text2 {border:1px solid #cbcbcb; /*height:13px;*/ font:13px/100% Nanum Gothic; color:#666; padding:8px 6px 7px; vertical-align:middle;}
	.t135 {width:121px;}
	.t345 {width:331px;}
	.t355 {width:341px;}
	.t414 {width:410px;}
	.t424 {width:419px;}
	.t578 {width:564px;}
.i_text_read{border:1px solid #cbcbcb; height:13px; font:13px/100% Nanum Gothic; color:#666; padding:8px 6px 7px; vertical-align:middle;background: #F8F8F8;}
.input_number {width:59px; height:31px; background-color:#ddd; color:#000; text-align:center;}
.readonly{background-color: #dfdfdf;}

/* selectbox class */
.i_select1 {height:30px; border:1px solid #cdcdcd; width:118px; line-height:34px; padding:2px; font-size:13px; color:#666;}
.i_select2 {height:25px; border:1px solid #cdcdcd; width:115px; line-height:29px; padding:2px; color:#666;}
.i_select3 {height:25px; border:1px solid #cdcdcd; line-height:29px; padding:2px; font-size:13px; color:#666;}
.i_select4 {height:32px; border:1px solid #cdcdcd; width:115px; line-height:29px; padding:2px; color:#666;}

/* textarea class */
.i_textarea {border:1px solid #cbcbcb; font:13px/160% Nanum Gothic; color:#666; padding:5px 6px;}
.i_textarea2 {border:1px solid #cbcbcb; font:12px/160% Nanum Gothic; color:#666; padding:5px 6px;}

/* text btn */
.input_btn1 {background:#666; text-align:center; width:72px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:30px; vertical-align:middle;} /* 글씨 갯수 3자까지 (블랙) */
.input_btn2 {background:#d92b3a; text-align:center; width:72px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:30px; vertical-align:middle;} /* 글씨 갯수 3자부터 (레드) */
.input_btn3 {background:#d92b3a; text-align:center; width:70px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:50px; vertical-align:middle;}
.input_btn4  {background:#808080; text-align:center; width:92px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:30px; vertical-align:middle;}
.input_btn5 {background:f8f8f8; height:25px; border:1px solid #cbcbcb; color:#666; width:80px; text-align:center; vertical-align:middle;}

.btn11 {background:#1e69b8; text-align:center; width:72px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:30px; /*padding-top:9px;*/} /* 글씨 갯수 3자까지 (블루) */
.btn22 {background:#283039; text-align:center; width:72px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:30px; /*padding-top:9px;*/} /* 글씨 갯수 3자까지 (진블루) */
.btn33 {background:#efefef; text-align:center; width:72px; color:#333; display:inline-block; font-family:Nanum Gothic; height:30px; border:1px solid #c7c7c7;/*padding-top:9px;*/} /* 글씨 갯수 3자까지 (화이트) */

.btn1 {background:#666; text-align:center; width:72px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:30px; /*padding-top:9px;*/} /* 글씨 갯수 3자까지 (블랙) */
.btn1_1 {background:#a6a6a6; text-align:center; width:72px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:21px; /*padding-top:9px;*/} /* 글씨 갯수 3자까지 (그레이) */
/* .btn2 {background:#d92b3a; text-align:center; width:72px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:30px; padding-top:9px;} 글씨 갯수 3자까지 (레드) */
.btn2 {background:#49b5e0; text-align:center; width:72px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:30px; /*padding-top:9px;*/}  /* 블루 */
.btn2_1 {background:#f54151; text-align:center; width:72px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:30px; /*padding-top:9px;*/}  /* 레드 */
.btn3 {background:#666; padding:0px 15px 0; height:21px; color:#fff; display:inline-block; font-family:Nanum Gothic;} /* 글씨 갯수 4자부터 (블랙) */
.btn3_1 {background:#666; padding:0px 10px 0; height:30px; color:#fff; display:inline-block; font-family:Nanum Gothic;} /* 글씨 갯수 4자부터 (블랙) */
.btn4 {background:#d92b3a; padding:0px 15px 0; height:21px; color:#fff; display:inline-block; font-family:Nanum Gothic;} /* 글씨 갯수 4자부터 (레드) */
.btn4_1 {background:#d92b3a; padding:9px 25px 0; height:21px; color:#fff; display:inline-block; font-family:Nanum Gothic;} /* 글씨 갯수 4자부터 (레드) */
.btn5 {background:#bfaf99; padding:9px 15px 0; height:21px; color:#fff; display:inline-block; font-family:Nanum Gothic;} /* 글씨 갯수 4자부터 (갈색) */
.btn5_1 {background:#bfaf99; padding:0px 15px 0; height:21px; color:#fff; display:inline-block; font-family:Nanum Gothic;} /* 글씨 갯수 4자부터 (갈색) */
.btn6 {background:#999; padding:9px 15px 0; height:21px; color:#fff; display:inline-block; font-family:Nanum Gothic;} /* 글씨 갯수 4자부터 (회색) */
.btn7 {background:#808080; padding:9px 15px 0; height:21px; color:#fff; display:inline-block; font-family:Nanum GothicBold;}
.btn8 {background:#fff; padding:9px 15px 0; height:21px; color:#666; display:inline-block; font-family:Nanum GothicBold;}
.btn9 {background: #516fbb; padding: 0px 25px 0; height: 30px; color: #fff; display: inline-block; font-family: Nanum Gothic;}
.btn_link {background:#999; padding:9px 15px 5px; height:21px; color:#fff; display:inline-block; font-family:Nanum Gothic; width:143px;} /* 글씨 갯수 4자부터 (회색) */
.btn_big1 {background:#666; padding:12px 25px 0; height:28px; color:#fff; display:inline-block; font:14px Nanum Gothic; }
.btn_big2 {background:#4d4d4d; padding-top:12px; width:212px; height:28px; color:#fff; display:inline-block; font:14px Nanum Gothic; text-align:center;}
.btn_big3 {background:#d92b3a; padding-top:12px; width:212px; height:28px; color:#fff; display:inline-block; font:14px Nanum Gothic; text-align:center;}
.btn_big4 {background:#666; padding: 2px 25px 0; height: 67px; color:#fff; display:inline-block; font:14px Nanum Gothic; } /*회색 테이블 tr 2칸영역 */

/*.btn_down {background:url('../images/ico/ico_download.gif') 68px 50% no-repeat #666; text-align:left; width:81px; color:#fff; display:inline-block; font-family:Nanum Gothic; height:21px; padding:9px 0 0 20px;}*/
.btn_cal {border:1px solid #cbcbcb; background:url('../images/ico/ico_cal.gif') 10px 50% #f0f0f0 no-repeat; font-size:12px; color:#4d4d4d; padding:5px 11px 0 28px; height:18px; display:inline-block; margin:0 10px 0 3px;}
.btn_scrap {border:1px solid #bfbfbf; padding:7px 10px 0 23px; background:#fafafa; height:20px; font-size:12px; color:#333; background:url('/resources/images/ico/ico_scrap.gif') 9px 50% no-repeat; display:inline-block;}
.btn_print {border:1px solid #bfbfbf; padding:7px 10px 0 27px; background:#fafafa; height:20px; font-size:12px; color:#333; background:url('/resources/images/ico/ico_print.gif') 9px 50% no-repeat; display:inline-block;}
/* 첨부파일 버튼 중간정렬 */
.swfupload { vertical-align: middle; }

/* align */
.ctn {text-align:center;}
.f_left {float:left; display:inline;}
.f_right {float:right;}
.t_right {text-align:right;}
.t_left {text-align:left;}


/* color */
.yel {color:#d9a336;}
.brown {color:#785c02;}
.red {color:#d92b3a;}
.bk {color:#333;}
.gray {color:#cbcbcb;}
.gray2 {color:#999;}

/* margin class */
.mgt5 {margin-top:5px;}
.mgt10 {margin-top:10px;}
.mgt15 {margin-top:15px;}
.mgt18 {margin-top:18px;}
.mgt20 {margin-top:20px;}
.mgt30 {margin-top:30px;}
.mgt40 {margin-top:40px;}
.mgt50 {margin-top:50px;}


.mgr1 {margin-right:1px;}
.mgr5 {margin-right:5px;}
.mgr6 {margin-right:6px;}
.mgr8 {margin-right:8px;}
.mgr10 {margin-right:10px;}
.mgr13 {margin-right:13px;}
.mgr14 {margin-right:14px;}
.mgr15 {margin-right:15px;}
.mgr19 {margin-right:19px;}
.mgr20 {margin-right:20px;}
.mgr25 {margin-right:25px;}
.mgr50 {margin-right:50px;}
.mgr75 {margin-right:75px;}
.mgr100 {margin-right:100px;}


.mgb0 {margin-bottom:0px;}
.mgb9 {margin-bottom:9px;}
.mgb5 {margin-bottom:5px;}
.mgb10 {margin-bottom:10px;}
.mgb15 {margin-bottom:15px;}
.mgb20 {margin-bottom:20px;}
.mgb25 {margin-bottom:25px;}
.mgb30 {margin-bottom:30px;}
.mgb35 {margin-bottom:35px;}
.mgb36 {margin-bottom:36px;}
.mgb40 {margin-bottom:40px;}
.mgb45 {margin-bottom:45px;}
.mgb50 {margin-bottom:50px;}
.mgb60 {margin-bottom:60px;}


.mgl2 {margin-left:2px;}
.mgl5 {margin-left:5px;}
.mgl19 {margin-left:19px;}
.mgl20 {margin-left:20px;}
.mgl25 {margin-left:25px;}
.mgl70 {margin-left:70px;}

.pdt5 {padding-top:5px;}
.pdt10 {padding-top:10px;}
.pdt15 {padding-top:15px;}
.pdb15 {padding-bottom:15px;}

.pdl40 {padding-left:40px;}
.pdl60 {padding-left:60px;}
.pdl100 {padding-left:100px;}


.no-bt {border-top:none;}

/* jquery datepicker */
.ui-datepicker {
	margin-top:3px;
	width: 240px;
	border-top:1px solid #444;
	border-left:1px solid #444;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding-top:6px;
	height:24px;
	border-right:1px solid #444;
	border-bottom:1px solid #444;
	background:#f7f7f7;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 50%;
	margin-top:-4px;
	display:block;
	width:5px;
	height:9px;
	cursor:pointer;
	text-indent:-9999px;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 50%;
	margin-top:-4px;
}
.ui-datepicker .ui-datepicker-prev {
	background:url('/resources/images/ico/btn_date_prev.gif') 0 0 no-repeat;
	left: 11px;
}
.ui-datepicker .ui-datepicker-next {
	background:url('/resources/images/ico/btn_date_next.gif') 0 0 no-repeat;
	right: 11px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 11px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 11px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	font:15px Nanum GothicBold;
	color:#333;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 30%;
}
.ui-datepicker table {
	width: 100%;
	border-collapse: collapse;
}
.ui-datepicker th {
	font:12px Nanum GothicBold;
	color:#fff;
	height:30px;
	width:30px;
	border-right:1px solid #444;
	border-bottom:1px solid #444;
	text-align: center;
	background:#5e5e5e;
}
.ui-datepicker td {
	font:12px Nanum GothicBold;
	color:#fff;
	text-align:center;
	width:30px;
	height:30px;
	border-right:1px solid #444;
	border-bottom:1px solid #444;
	background:#848484;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	color:#fff;
	width:33px;
	height:22px;
	text-decoration:none;
	text-align:center;
	padding-top:8px;
	margin:0;
}
.ui-datepicker td a:hover {
	background:#fff;
	color:#c52a32;
}
.ui-datepicker td a.ui-state-active {
	font-weight: normal;
	margin:0;
}

.ui-datepicker .ui-state-disabled{
	background:#ccc;
}
.ui-datepicker .ui-state-disabled span{
	color:black;
}
.ui-datepicker-trigger{
	margin-left:3px; 
	margin-right:3px; 
	vertical-align:middle; 
	cursor:pointer;
	padding: 4px 7px 0px 3px;
}
/* #container { margin: 10px auto; width: 95%; border: 1px solid gray;} */
