@charset "utf-8";
/*
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face{
	font-family:'Nanum Gothic';
	font-style:normal;
	font-weight:normal;
	src: url('/css/admin/fonts/NanumGothic');
	src:url('/css/admin/fonts/NanumGothic.eot');
	src:local('?'), url('/css/admin/fonts/NanumGothic.woff') format('woff'), url('/css/admin/fonts/NanumGothic.ttf') format('truetype');
}
@font-face{
	font-family:'Nanum GothicBold';
	font-style:normal;
	font-weight:normal;
	src: url('/css/admin/fonts/NanumGothicBold');
	src:url('/css/admin/fonts/NanumGothicBold.eot');
	src:local('?'), url('/css/admin/fonts/NanumGothicBold.woff') format('woff'), url('/css/admin/fonts/NanumGothicBold.ttf') format('truetype');
}
*/
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum GothicBold';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}

* {margin:0; padding:0; -webkit-text-size-adjust:none;}
body {min-width:1120px;}
html {overflow-y:scroll;}
html, body {height:100%; min-height:100%;}
body, select, textarea, input {font:12px/100% Nanum Gothic, "나눔고딕", Dotum, "돋움", gulim, "굴림", verdana, sans-serif; color:#333; border:0;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object, textarea, a, img {padding: 0; margin: 0;}
table {border-collapse:collapse; border-spacing:0;}
table img {vertical-align:middle;}
select, input, table tr td, table tr th {vertical-align:middle;}
form, fieldset, abbr, acronym {border:0;}
img {border:0; vertical-align:top;} /* 이미지에 공간을 없애기 위해 vertical-align:top 사용 */
address, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, th, var {font-weight:normal; font-style:normal;}
ol, ul, li {list-style: none;}
table td a {display:inline-block;}
table caption {display:none;}
strong, .bold {font-family:Nanum GothicBold;}
a {text-decoration:none; color:#969696;}
input[type="image"] {vertical-align:top;}
input[type="radio"] {vertical-align:middle;}

.clearfix {
	zoom:1;
}
.clearfix:after {
	content:"";
	display:block;
	clear:both;
}
/* 화면숨김 */
#accessibility, hr, caption, legend {position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; text-indent:-5000px;}
