@charset "utf-8";
@import url('reset.css');
@import url('common.css');

/*@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');*/

/* login */
#login_wrap { position:absolute; top:50%; width:100%; margin-top:-83px; border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea; padding:20px 0; height:135px; /*background:#000;*/ }
#login_wrap h1 {font:24px Nanum Gothic; position:absolute; top:-70px; width:100%; text-align:center;}
#login_wrap h2 {font:16px Nanum Gothic; position:absolute; top:-35px; width:100%; text-align:center;}
#login_wrap h3 {font:11px Nanum Gothic; position:absolute; bottom:-25px; width:100%; text-align:center; color:#999;}
#login_console { width:650px; margin:0 auto; position:relative; }
#login_console .logo { position:absolute; top:-10px; padding-left:70px;/*background:#000; border:1px solid #ccc; padding:10px;*/ }
#login_console .logo img{width:155px;}
#login_console .login_form { padding-left:250px;padding-top:30px;color:black;}
#login_console .login_form ul { width:225px; float:left; }
#login_console .login_form li { margin-bottom:5px; }
#login_console .login_form li.input { margin-bottom:10px; }
#login_console .login_form .button { margin-left:30px;background:#3871b8; padding:10px; width:100px; color:#fff; border:1px solid #2e66ac;height:64px; }


/* common */
.wrapper{margin:0; width:100%;background-color: #fff; overflow:hidden;min-width:1280px;}

/* nav-default */
.lnb{width:220px; overflow:hidden;float:left;background-color: #273135;min-height: 900px;height:100%;}
.lnb li a{font-size:14px;display:block;}
.lnb .lnb-menu > li > a {color: #a7b1c2;font-weight: 600;padding: 14px 20px 14px 15px;}
.lnb .lnb-menu > li.active {background: #293846;}
.lnb .lnb-menu > li.active > a {color: #ffffff;}
.lnb .lnb-menu > li > a:hover, .lnb .lnb-menu > li > a:focus {background-color: #293846;color: white;}
/*.box-header .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{font-weight:bold;}*/
.lnb .lnb-menu > li > a i {margin-right: 6px;}
.lnb .lnb-menu-second li a {padding:10px;padding-left: 35px;}
.lnb .lnb-menu-third li a {padding:10px;padding-left: 55px;}
.lnb .lnb-menu-first.active {border-left:3px solid #a363ec;}
.lnb-menu {padding-left: 0;margin-bottom: 0;list-style: none;}
.lnb-menu>li {position: relative;display: block;}
.lnb-menu>li>a {position: relative;display: block;padding: 10px 15px;}
.lnb-menu>li>a:focus,.lnb-menu>li>a:hover {text-decoration: none;background-color: #eee;}
.lnb-menu>li.disabled>a {color: #777;}
.lnb-menu>li.disabled>a:focus,.lnb-menu>li.disabled>a:hover {color: #777;text-decoration: none;cursor: not-allowed;background-color: transparent;}
.lnb-menu .open>a,.lnb-menu .open>a:focus,.lnb-menu .open>a:hover {background-color: #eee;border-color: #337ab7;}
.lnb-menu .lnb-menu-divider {height: 1px;margin: 9px 0;overflow: hidden;background-color: #e5e5e5;}
.lnb-menu>li>a>img {max-width: none;}

.lnb-header{background:#000000; height:70px; text-align:center;display: table-cell;vertical-align: middle;width:220px;}
.lnb-header img{height:50px;/*width:220px;display:block;*/}
.lnb-header span{color:#fff; line-height:20px;}

.lnb-menu-second{display:none;}
.lnb-menu-second>li>a{font-size:13px;}
.lnb-menu-third{display:none;}
.lnb-menu-third>li>a{font-size:12px;}

.fa-angle-down{position: absolute;right: 10px;top: 15px;}
.fa-angle-left{position: absolute;right: 10px;top: 15px;}


/* contents */
.content_wrapper{position:relative; left:0; margin-left:220px;z-index:100;background:#fff; overflow:hidden;}
.content_wrapper .content-header{margin-right:0;margin-left:0;background:#446181; margin-bottom:20px;border-bottom: 1px solid #e7eaec !important;height:71px;line-height: 70px; position:relative;}
.content_wrapper .content-header .btn-menu{float:left; margin:0 15px;}
.content_wrapper .content-header .btn-menu .btn{display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}
.content_wrapper .content-header .btn-menu a{background: #fff !important;color: #4795e0 !important;border: none;}
.content_wrapper .content-header ul{position:absolute;right:0;margin-left:100px;height:70px;overflow:hidden;}
.content_wrapper .content-header ul li{float:left; margin-right:30px;}
.content_wrapper .content-header ul li a{color:#fff;}
.content_wrapper .content{float:left; padding:0 20px 20px 20px;}



/* 현재 위치 */
.location {background:url('../images/ico/ico_home.gif') 20px 50% no-repeat; font:12px NanumGothic; color:#a6a6a6; padding:20px 0 20px 35px;}
.location a {display:inline-block;}
.location span {color:#333;}

/* 현재 위치
.location {font:12px Nanum Gothic; color:#a6a6a6; padding:10px 0 20px 15px;}
.location a {display:inline-block;}
.location span {color:#333;}
 */

/* Footer */
#footer { width:100%; text-align:center; color:#999; background:#f3f3f4; padding:10px 0; min-width:1280px;}
#footer.login { border:0 none; position:absolute; bottom:0; }
#footer span { color:#333; font-family:'Nanum Gothic'; }





/* 검색 */
.header_search {border:1px solid #afafaf; padding:15px 0 15px 20px; margin-bottom:9px;background:url('../images/bg_search.gif') 0 0 repeat; }
.header_search select {margin-right:6px;}
.header_search strong {display:inline-block; margin-right:10px;min-width:45px;}
.header_search .r_btnArea {float:right; margin-right:20px; top:0;}



/* 일반 리스트 */
.pageNum {text-align:right; margin-bottom:9px; color:#a6a6a6; font-size:11px;}
.tbl_normal_list {width:100%; table-layout:fixed; border-bottom:1px solid #a6a6a6;}
.tbl_normal_list thead th {height:35px; background-color:#595959; color:#ccc; font:13px/120% Nanum Gothic;border-right:1px solid #ccc; }
.tbl_normal_list thead.font_small th{font:11px/120% Nanum Gothic;}
.tbl_normal_list thead th:first-child {border-left:0px;}
.tbl_normal_list thead th:last-child {background-image:none;border-right:0px;}
.tbl_normal_list thead th.white {color:#fff}
.tbl_normal_list thead th.caption { color:#000; background-color:#ccc; text-align:center; font-weight:bold; border-top:1px solid #666; border-bottom:#666;}
.tbl_normal_list thead th.brt {border-bottom:1px solid #ccc; }

.tbl_normal_list tbody td {padding:10px 0; text-align:center; font:12px/120% Nanum Gothic; color:#333; border-top:1px solid #afafaf;border-right:1px solid #ccc;word-break: break-all;}
.tbl_normal_list tbody.font_small td{font:10px/120% Nanum Gothic;}
.tbl_normal_list tbody td:first-child {border-left:0px;}
.tbl_normal_list tbody td:last-child {border-right:0px;}

.tbl_normal_list tbody .left {padding-left:20px; text-align:left;}
.tbl_normal_list tbody tr.wait {background-color:#89c0f7;}
.tbl_normal_list tbody tr.on {background:#FFC500;cursor:pointer;color:black;}
.tbl_normal_list tbody tr:hover {background:#FFC500;cursor:pointer;}
.tbl_normal_list tbody tr:hover a {color:black;}

.tbl_normal_list tbody td.no-data {text-align:center; padding:80px; color:#F36F16; }
.tbl_normal_list tbody td a {font:12px/100% Nanum Gothic; color:#666;}

.tbl_normal_list tbody tr.collapse td {background:#f7f7f7;}
.tbl_normal_list  .ico_file {margin-left:10px;}
.tbl_normal_list tfoot th {height:35px;  background:url('../images/admin/bg_line.gif') 100% 50% #595959 no-repeat; color:#ccc; font:12px/120% Nanum Gothic;}
.tbl_normal_list tfoot td {padding:10px 0; text-align:center; font:12px/120% Nanum Gothic; color:#333; background-color:#afafaf; border-top:1px solid #ccc;border-bottom:1px solid #ccc;}

/* btnArea*/
.btnArea {text-align:center; margin-top:10px; position:relative; border:1px solid transparent; height:30px;}
.btnArea .divPageNavigator {width:480px; margin:0 auto;}
.btnArea .divPageNavigator a {display:inline-block; width:29px; height:21px; color:#666; font:12px/100% Nanum Gothic; padding-top:8px; vertical-align:top;}
.btnArea .divPageNavigator a.on, .btnArea .paginate a:hover {background:#F36F16; color:#fff;}

.btnArea .divPageNavigator a.first, .btnArea .paginate a.prev, .btnArea .paginate a.next, .btnArea .paginate a.end {width:28px; height:29px; padding:0;  text-indent:-9999px;}
.btnArea .l_btnArea {position:absolute; left:10px; top:0;}
.btnArea .r_btnArea {position:absolute; right:10px; top:0;}


/* paginate */
.pagination{display:inline-block;padding-left:0;margin:5px 0;border-radius:4px}
.pagination>li{display:inline}
.pagination>li>a,
.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.428571429;text-decoration:none;background-color:#fff;border:1px solid #ddd}
.pagination>li:first-child>a,
.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}
.pagination>li:last-child>a,
.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus{background-color:#eee}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus{/*z-index:2;*/color:#fff;cursor:default;background-color:#659ef5;border-color:#659ef5;/*background-color:#428bca;border-color:#428bca*/}
/*
.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus{color:#999;cursor:not-allowed;background-color:#fff;border-color:#ddd}
*/
.pagination>.disabled{display:none;}
.pagination-lg>li>a,
.pagination-lg>li>span{padding:10px 16px;font-size:18px}
.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}
.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}
.pagination-sm>li>a,
.pagination-sm>li>span{padding:5px 10px;font-size:12px}
.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}
.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}





/* 글쓰기 */
.tbl_normal_write {width:100%; table-layout:fixed; border-top:2px solid #a6a6a6; border-bottom:2px solid #aaa7a1;}
.tbl_normal_write thead th {text-align:center; padding:10px 0 10px 20px; background:#ececec; font:12px/160% Nanum Gothic; color:#4d4d4d; border-top:1px solid #afafaf;font-weight: bold;border-right:1px solid #a6a6a6;}
.tbl_normal_write thead th:first-child {border-left:0px;}
.tbl_normal_write thead th:last-child {background-image:none;border-right:0px;}

.tbl_normal_write tbody th {text-align:left; padding:10px 0 10px 20px; background:#ececec; font:12px/160% Nanum Gothic; color:#4d4d4d; border-top:1px solid #afafaf;font-weight: bold;}
.tbl_normal_write tbody th.caption { color:#000; padding:10px 0 10px 0px;background-color:#ccc; text-align:center; font-weight:bold; border-top:1px solid #666; border-bottom:#666;}
.tbl_normal_write tbody th .require { color:#F36F16; font-size:10px; margin-left:5px; } 
.tbl_normal_write tbody th.brr {border-right:1px solid #afafaf;padding: 0;text-align: center;}
.tbl_normal_write tbody th.cnt {text-align:center;}

.tbl_normal_write tbody td {padding-left:30px; padding:10px 0 10px 20px; font:12px/160% Nanum Gothic; color:#666; border-top:1px solid #afafaf;}
.tbl_normal_write tbody td .notify { color:#888; font-size:11px; margin:5px; }
.tbl_normal_write tbody td .notify span { color:#F36F16; }
.tbl_normal_write tbody td .require { color:#F36F16; font-size:12px; margin-left:5px; }
.tbl_normal_write tbody td .newline {height:10px;border-bottom:2px solid #a6a6a6; border-top:2px solid #aaa7a1;}
.tbl_normal_write tbody td.left {text-align:left;padding-left:20px;}
.tbl_normal_write tbody td.right {text-align:right;padding-right:20px;}


.tbl_normal_write tbody td.brr {border-right:1px solid #afafaf;text-align:center;padding:10px 0 10px 0;}
.tbl_normal_write tbody td.cnt {text-align:center;}

.tbl_normal_write tbody td.brb {border-bottom:2px solid #b3b1b1;}
.tbl_normal_write tbody td.brb2 {border-bottom:2px solid #716f6f;}

/* 글보기 */
.tbl_normal_view {width:750px; table-layout:fixed; border-bottom:1px solid #a6a6a6;}

.tbl_normal_view thead th {text-align:center; background:#f8f8f8; height:35px; font-weight:normal;border-right:1px solid #a6a6a6;}
.tbl_normal_view thead th.caption { color:#000; background-color:#ccc; text-align:center; font-weight:bold; border-top:1px solid #666; border-bottom:1px solid #666;}
.tbl_normal_view thead th strong {font:14px/100% Nanum Gothic; color:#000;font-weight:bold; display:inline-block; margin-right:7px;}
.tbl_normal_view thead th span {font:12px/100% Nanum Gothic; color:#4c4c4c; display:inline-block; margin-right:30px;}
.tbl_normal_view thead th span:last-child {margin-right:0;}
.tbl_normal_view thead th.subject {background:#595959; font:13px/100% Nanum Gothic; color:#fff;}
.tbl_normal_view tbody th{ color:#000; background-color:#ccc; text-align:center; font-weight:bold; border-top:1px solid #666; border-bottom:1px solid #666;padding:10px 20px;}
.tbl_normal_view tbody td {text-align:center;padding:10px 20px; border-top:1px solid #b9b9b9; line-height:160%; font-size:13px;border-right:1px solid #a6a6a6;}
.tbl_normal_view tbody td.left {text-align:left;padding-left:5px;}
.tbl_normal_view tbody td.right {text-align:right;padding-right:5px;}
.tbl_normal_view tbody th.caption { color:#000; background-color:#ccc; text-align:center; font-weight:bold; border-top:1px solid #666; border-bottom:#666;}

.tab_area {width:100%;}
.tab_area ul{width:100%;float:left; padding-bottom:7px;}
.tab_area li {float:left; display:inline;border:1px solid #afafaf;margin-right:5px}
.tab_area li a {display:inline-block; padding:10px 20px ; background:#666; color:#FFC700;;}
.tab_area li a.on, .tab_area li a:hover {background:#FFC700; color:#000;font:13px/100% Nanum Gothic;}



.step {font-size:14px;font-weight:bold;padding-bottom:8px;padding-top:15px;}
.tbl_title{width: 100%;text-align: right;margin-top: -7px;margin-bottom: 3px;}




/**/
.tbl_info_title{text-align:left; line-height:35px; font-weight:bold;font: 15px/190% Nanum Gothic; background-image:url('/images/table_caption_blt.png'); background-repeat:no-repeat; background-position:0 0;}

.tbl_info {margin-bottom:30px;}

.tbl_info tr:first-child th,
.tbl_info tr:first-child td {border-top:2px solid #58595b;}
.tbl_info tr th,
.tbl_info tr td {padding: 8px 10px 7px;
    font-size:13px; line-height:22px;
    border-bottom:1px solid #d1d3d4;
}
.tbl_info tr th {
    text-align:left; color:#636466; font-weight:bold;
    background-color:#f6f6f6;
}
.tbl_info tr td {color:#636466; vertical-align:middle;}



/*CUSTOM*/
.tbl_custom_list {width:100%; /*table-layout:fixed;*/ border-bottom:1px solid #a6a6a6;}
.tbl_custom_list thead th {height:35px; background-color:#595959; color:#ccc; font:13px/120% Nanum Gothic;border-right:1px solid #ccc; }
.tbl_custom_list thead th:first-child {border-left:0px;}
.tbl_custom_list thead th:last-child {background-image:none;border-right:0px;}
.tbl_custom_list thead th.white {color:#fff}
.tbl_custom_list thead th.caption { color:#000; background-color:#ccc; text-align:center; font-weight:bold; border-top:1px solid #666; border-bottom:#666;}

.tbl_custom_list tbody td {padding:10px 0; text-align:center; font:12px/120% Nanum Gothic; color:#333; border-top:1px solid #afafaf;border-right:1px solid #ccc;word-break: break-all;}
.tbl_custom_list tbody td:first-child {border-left:0px;}
.tbl_custom_list tbody td:last-child {border-right:0px;}

.tbl_custom_list tbody .left {padding-left:8px; text-align:left;}
.tbl_custom_list tbody .right {padding-right:8px; text-align:right;}
.tbl_custom_list tbody tr.on {background:#FFC500;cursor:pointer;color:black;}
.tbl_custom_list tbody tr:hover {background:#FFC500;cursor:pointer;}
.tbl_custom_list tbody tr:hover a {color:black;}

.tbl_custom_list tbody td.no-data {text-align:center; padding:80px; color:#F36F16; }
.tbl_custom_list tbody tr td.collapse {background:#998F8F;}
.tbl_custom_list tbody td a {font:12px/100% Nanum Gothic; color:#666;}

.tbl_custom_list tbody tr.collapse td {background:#f7f7f7;}
.tbl_custom_list  .ico_file {margin-left:10px;}
.tbl_custom_list tfoot th {height:35px;  background:url('../images/admin/bg_line.gif') 100% 50% #595959 no-repeat; color:#ccc; font:12px/120% Nanum Gothic;}
.tbl_custom_list tfoot td {padding:10px 0; text-align:center; font:12px/120% Nanum Gothic; color:#333; background-color:#afafaf; border-top:1px solid #ccc;border-bottom:1px solid #ccc;}


/* Modules */
.module {border: 1px solid #9BA0AF;width: 100%;margin-top: 20px;background: #ffffff;}
.module header {height: 38px;width: 100%;background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;}
.module header h3 {display: block;width: 85%;float: left;color: #1F1F20;text-transform: uppercase;text-shadow: 0 1px 0 #fff;font-size: 13px;margin: 8px 20px;font-weight: bold;}
.module_content {margin: 10px 20px;color: #666;}

/* MAIN MENU */
.main_menu_div{width:200px; float:left; height:310px; overflow:auto; margin-left:10px; margin-bottom:10px; border:#dedede 1px solid;}
.main_menu_div h3{color: #666666;text-transform: uppercase;text-shadow: 0 1px 0 #fff;font-size: 13px;margin: 8px 0px;font-weight: bold;border-bottom:1px solid #ccc; padding:0px 0px 5px 10px;background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;}
.main_menu_div ul.depth1 li{line-height: 180%;list-style: none;padding-left: 13px;padding-top:3px;}
.main_menu_div ul.depth1 li a{font-size: 13px; font-weight:bold}
.main_menu_div ul.depth2 li{line-height: 130%;list-style: none;padding-left: 25px;}
.main_menu_div ul.depth2 li a{font-size: 12px; font-weight:normal;} 

a.clip{width:30px;height:30px;margin-right:5px;background:url('../images/ico/clip-icon.png') no-repeat;display:inline-block;vertical-align:middle;}
a.clip2{width:30px;height:30px;margin-right:5px;background:url('../images/ico/clip2.png') no-repeat;display:inline-block;vertical-align:middle;}


.layer_bg {display:none;position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50); z-index:10;}
#popupForm {z-index: 60;position: absolute;top: 20%;width: 60%;left: 30%;display:none;min-width:400px;max-width:600px;}



/* 상품관리 > 카테고리관리 */
.treeDiv {width:25%;overflow:auto;height:100%;margin-right:20px;float:left;background:url('../images/bg_search.gif') 0 0 repeat;padding:10px 0 0 10px;border:1px solid #afafaf}


.popup_bh{position: absolute;background:white;border:1px solid #ccc;width:600px;height:500px;left:25%;top:130px;z-index:300;padding:8px;display:none;}
.popup_bh .bh_list{width:100%;overflow: auto;height: 385px;}